<form (ngSubmit)="submitThis()" [formGroup]="loginForm">
    <ion-list>
        <ion-item>
            <ion-label floating>Authorization Code</ion-label>
            <ion-input type="text" formControlName="authCode"></ion-input>
        </ion-item>
    </ion-list>
    <!--<p class="alert-danger" [ngClass]="{'hide_class': !authObject.get('error')}">-->
        <!--&lt;!&ndash;{{(authObject.get('error') && authObject.getIn(['error', 'message'])) ? authObject.getIn(['error', 'message']): ''}}&ndash;&gt;-->
    <!--</p>-->
    <button ion-button large class="button-length spacer-top-2"
            [disabled]="!loginForm.valid">
        Sign In&nbsp;
        <ion-icon name="arrow-forward"></ion-icon>
    </button>

</form>
