<div *ngIf="newShippingResponse.get('resp')">
    <ion-list radio-group>
        <ion-list-header>
            <p class="color-dark">Confirm shipping address</p>
        </ion-list-header>

        <ion-item>
            <ion-label color="dark">
                <p>
                    {{newShippingResponse.getIn(['resp', 'name'])}}
                </p>
                <p>
                    {{newShippingResponse.getIn(['resp', 'addressLine1'])}}
                </p>
                <p>
                    {{newShippingResponse.getIn(['resp', 'addressLine2'])}}
                </p>
                <p>
                    {{newShippingResponse.getIn(['resp', 'city'])}}, {{newShippingResponse.getIn(['resp', 'state'])}}
                </p>
                <p>
                    {{newShippingResponse.getIn(['resp', 'zipCode'])}}
                </p>
            </ion-label>
            <ion-radio checked="true" value="go" color="dark"></ion-radio>
        </ion-item>
    </ion-list>

    <button ion-button (click)="useThisAddress(newShippingResponse.get('resp'))" *ngIf="!loggedInChangeShipping || enrollNewPlan" class="button-length spacer-top-2"
    type="button">
        Use this Address&nbsp;
        <ion-icon name="arrow-forward"></ion-icon>
    </button>
    <button ion-button (click)="submitThisAddressReturntoAccount(newShippingResponse.get('resp'))" class="button-length spacer-top-2" *ngIf="loggedInChangeShipping && !enrollNewPlan"
            type="button">
        Submit New Shipping
        <ion-icon name="arrow-forward"></ion-icon>
    </button>
    <button ion-button class="button-length spacer-top-2"
            (click)="changeShipping()"
            type="button">
        Change Shipping Address&nbsp;
        <ion-icon name="arrow-forward"></ion-icon>
    </button>


</div>
