<ion-card class="login-form-container ">
    <ion-card-header text-center>
        <h2 class="color-dark" style="font-size:24px">Household User 2</h2>
    </ion-card-header>
    <ion-card-content text-center>
        <ncsignup-form [signUpResponse]="signup$ | async" [householdForm]="true"></ncsignup-form>
        <div>
            <!--TODO: Make this happen-->
            <!--<back-button [routerLink]="'/signup'"></back-button>-->

            <button ion-button clear color="secondary"
                    routerLink="/signup-household"
                    class="button-length spacer-top-2">
                <ion-icon name="arrow-back"></ion-icon>
                &nbsp;Go Back
            </button>
        </div>
    </ion-card-content>
</ion-card>
