<p-dialog
    header="Error"
    [(visible)]="display"
    [modal]=true
    [closable]=false
    [resizable]=false
    [width]=300
    [height]=400>
    <div>
        <p class="alert-danger">
            Your login session has expired please login again.
        </p>
        <div style="width:100%">
            <div style="width: 109px; margin: 0 auto">
                <button class="btn btn-primary" routerLink="/loginscreen">Go To Login</button>
            </div>
        </div>
    </div>
</p-dialog>
