<ion-card class="login-form-container card-style">
    <ion-card-header text-center>
        <h2 class="color-dark">Forgot Password</h2>
    </ion-card-header>
    <ion-card-content text-center>
        <div>
            <forgot-form></forgot-form>

            <button ion-button clear routerLink="/loginscreen" color="secondary"
                    class="button-length spacer-top-2">
                <ion-icon name="arrow-back"></ion-icon>
                &nbsp;Go Back
            </button>
        </div>

    </ion-card-content>
</ion-card>
