<ion-card class="login-form-container card-style">
    <ion-card-header text-center>
        <h1 class="color-dark">Sign In</h1>
    </ion-card-header>
    <ion-card-content text-center>
        <div>
            <login-form [authObject]="auth$ | async" [isSso]="false"></login-form>

            <button ion-button clear routerLink="/" color="secondary"
                    class="button-length spacer-top-2">
                <ion-icon name="arrow-back"></ion-icon>
                &nbsp;Go Back
            </button>

            <a routerLink="/forgetPassword">Forgot Password?</a>
        </div>

    </ion-card-content>
</ion-card>
