<ion-card class="login-form-container ">
    <ion-card-header text-center>
        <h2 style="font-size: 32px" class="color-dark">Cared For Account</h2>
    </ion-card-header>
    <ion-card-content text-center>
        <ncsignup-form [signUpResponse]="signup$ | async" [otherForm]="true"></ncsignup-form>
        <div>
            <!--TODO: Make this happen-->
            <!--<back-button [routerLink]="'/signup'"></back-button>-->

            <button ion-button clear color="secondary"
                    routerLink="/signup-other"
                    class="button-length spacer-top-2">
                <ion-icon name="arrow-back"></ion-icon>
                &nbsp;Go Back
            </button>
        </div>
    </ion-card-content>
</ion-card>
