
<div>
    <p class="color-dark">
        Almost there! Take a moment to review.
    </p>
    <ion-grid>
        <ion-row class="top-border">
            <ion-col text-left>
                <strong>Today's Order:</strong>
            </ion-col>
            <ion-col text-right></ion-col>
        </ion-row>
        <ion-row [ngClass]="{'top-border': i === 0}" *ngFor="let lineItem of orderSummary.get('orderCart'); let i = index">
            <ion-col width-50 text-left>
                <strong>{{lineItem.get('lineDesc')}}</strong>
            </ion-col>
            <ion-col width-50 text-right>{{lineItem.get('amt') | currency:'USD':true}}</ion-col>
        </ion-row>
        <ion-row *ngIf="shippedItems > 0">
            <ion-col text-left>
                <strong>Shipping: {{shippingRate.get('servicelevel_name')}}</strong>
            </ion-col>
            <ion-col text-right>{{shippingAmount | currency:'USD':true }}</ion-col>
        </ion-row>
        <ion-row class="top-border" style="font-size: 20px" *ngIf="shippedItems > 0">
            <ion-col width-50 text-left>
                <strong>Total:</strong>
            </ion-col>
            <ion-col width-50 text-right>{{totalSummary + shippingAmount | currency:'USD':true }}</ion-col>
        </ion-row>
        <ion-row class="top-border" style="font-size: 20px" *ngIf="shippedItems === 0">
            <ion-col width-50 text-left>
                <strong>Total:</strong>
            </ion-col>
            <ion-col width-50 text-right>{{totalSummary | currency:'USD':true }}</ion-col>
        </ion-row>
        <!--<ion-row class="top-border recurring-charges">-->
            <!--<ion-col width-50 text-left>-->
                <!--<strong>Reccuring Charges:</strong>-->
            <!--</ion-col>-->
            <!--<ion-col width-50 text-right>-->
                <!--$9.99 per month<br/>Next Bill Date: 11/20/2016-->
            <!--</ion-col>-->
        <!--</ion-row>-->
        <ion-row class="top-border" *ngIf="shippedItems > 0">
            <ion-col>
                <div class="color-dark">
                    <strong>Shipping</strong>
                    <br/>
                    <br/>
                    {{shippingAddress.get('name')}}
                    <br/>
                    {{shippingAddress.get('addressLine1')}}
                    <br/>
                    {{shippingAddress.get('addressLine2')}}
                    <br/>
                    {{shippingAddress.get('city')}}, {{shippingAddress.get('state')}} {{ shippingAddress.get('zipCode')}}
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="top-border color-dark">
                    <strong>Billing</strong>
                    <br/>
                    <br/>
                    Card Ending in {{selectedCard.get('last_four')}}
                    <br/>
                    {{ selectedCard.get('address1') }}
                    <br/>
                   {{ selectedCard.get('address2') }}
                    <br/>
                    {{ selectedCard.get('city') }}, {{ selectedCard.get('state') }} {{selectedCard.get('zip')}}
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!--<form (ngSubmit)="redeemPromo.emit(promoCode)">-->
        <!--<ion-row>-->
            <!--<ion-col style="margin: auto 0" width-33>-->
                <!--Coupon Code:-->
            <!--</ion-col>-->
            <!--<ion-col width-66>-->
                <!--<input type="text" name="promo" pInputText [(ngModel)]="promoCode"/>-->
            <!--</ion-col>-->
        <!--</ion-row>-->
    <!--</form>-->
    <!--<p class="alert-danger">-->
        <!--Coupon Redemption Failed-->
    <!--</p>-->
    <!--<p class="alert-success">-->
        <!--Coupon Redemption Applied-->
    <!--</p>-->

    <p class="alert-danger" *ngIf="orderSummary.get('error')">
        {{(orderSummary) ? orderSummary.getIn(['error', 'message']) : ''}}
    </p>
    <button ion-button large (click)="submitFinalOrder()"
            [disabled]="orderSummary.get('status') === 'failure' || orderSummary.get('status') === 'submitted'"
            class="button-length spacer-top-2">
        Submit Order&nbsp;
        <ion-icon name="arrow-forward"></ion-icon>
    </button>
</div>
