<ion-card class="login-form-container card-style">
    <ion-card-header text-center>
        <h1 class="color-dark">Shipping</h1>
    </ion-card-header>
    <ion-card-content text-center>
        <div>
            <p class="color-dark">Please select your preferred shipping package</p>
            <shipping-rate-selector [rateItems]="rates | async"
                                    [selectedRate] = "selectedRate | async"
                                    (rateSelect)="selectRate($event)"></shipping-rate-selector>
            <button ion-button clear routerLink="/shipping" color="secondary"
                    class="button-length spacer-top-2">
                <ion-icon name="arrow-back"></ion-icon>
                &nbsp;Go Back
            </button>
        </div>

    </ion-card-content>
</ion-card>
