<div style="margin: 15px" class="billing-tab">
    <div *ngIf="billAddress && !takeoverBilling && billingInfoLoading">
        <ion-row>
            <ion-col center>
                <div class="tab-title">Payment Method</div>
                <div class="payment-card color-secondary">Visa ending in {{billAddress.get('last_four')}}</div>
            </ion-col>
        </ion-row>
        <ion-row class="address">
            <ion-col text-center>
                <div>{{billAddress.get('first_name')}} {{billAddress.get('last_name')}}</div>
                <div>{{billAddress.get('address1')}}</div>
                <div *ngIf="billAddress.get('address2')">{{billAddress.get('address2')}}</div>
                <div>{{billAddress.get('city')}}, {{billAddress.get('state')}} {{billAddress.get('zipcode')}}</div>
            </ion-col>
        </ion-row>
    </div>
    <ion-row *ngIf="!billAddress && !takeoverBilling && billingInfoLoading">
        <ion-col center>
            <div class="tab-title">Payment Method</div>
            <div class="payment-card color-secondary">There are no cards currently.</div>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="takeoverBilling && billingInfoLoading">
        <ion-col center>
            <div class="tab-title">Payment Method</div>
            <div class="payment-card color-secondary">You are currently being paid by someone else.</div>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="billAddress && !takeoverBilling && billingInfoLoading">
        <ion-col center>
            <button ion-button class="button-length" color="secondary" routerLink="/payment">
                Change Billing
            </button>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="!billAddress && !takeoverBilling && billingInfoLoading">
        <ion-col center>
            <button ion-button class="button-length" color="secondary" routerLink="/payment">
                Add Billing
            </button>
        </ion-col>
    </ion-row>
</div>
