<ion-card class="login-form-container card-style">
    <ion-card-header text-center>
        <h1 class="color-dark">Who Are You?</h1>
    </ion-card-header>
    <ion-card-content text-center>
        <div>
            <div class="spacer-top-1">
                <button ion-button (click)="signupYourself()" class="button-length">
                    Purchase for Yourself&nbsp;
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </div>
            <div class="spacer-top-3">
                <button ion-button (click)="signupOther()" class="button-length">
                    Purchase for a Loved One&nbsp;
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </div>
            <div class="spacer-top-3">
                <button ion-button (click)="houseHoldPlan()" class="button-length">
                    2-people Same Location
                    <ion-icon name="arrow-forward" style="padding-left:4px"></ion-icon>
                </button>
            </div>
            <div class="spacer-top-3">
                <p class="color-secondary">Want to learn more before registering? </p>
                <button ion-button color="secondary" (click)="exploreNestcare()" class="button-length">Explore nestCARE Free</button>
            </div>
            <button ion-button clear color="secondary" routerLink="/login" class="button-length spacer-top-3">
                <ion-icon name="arrow-back"></ion-icon>
                &nbsp;Go Back
            </button>
        </div>

    </ion-card-content>
</ion-card>
