.card-style {
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    background-color: #fff;
    border-radius: 2px;
    position: relative;
}

.alert-danger {
    padding: 15px;

    background-color: #f2dede;

    margin: 10px 0 10px 0 !important;
}

.alert-success {
    padding: 15px;

    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;

    margin: 10px 0 10px 0 !important;
}

.login-form-container {
    margin: 20px auto;
    display: block;

    @media screen and (max-width: 360px) {
        width: 95%;
    }

    @media screen and (min-width: 360px) {
        width: 350px;
        padding: 20px;
    }

    &.card-md .item-md.item-block .item-inner {
        border-bottom: 1px solid #dedede;
    }

    &.card-md .item-md.item-block:last-child .item-inner {
        border-bottom: none;
    }

    &.card-md.no-lines .item-md.item-block .item-inner {
        border: none;
    }

    &.card-md ion-card-header h1 {
        font-size: 4.6rem;
        font-weight: 300;
    }

    &.card-md h1 {
        font-size: 3.0rem;
        font-weight: 300;
    }

    &.card-md p {
        font-size: 1.2em;
        font-weight: 400;
    }

    .text-prompt-large {
        font-size: 1.8rem;
    }
}

