<div class="login-welcome">Health is in your hands</div>
<ion-card class="login-form-container card-style">
    <ion-card-content text-center>
        <div>
            <button ion-button large class="button-length" color="primary" routerLink="/signup">
                Get Started
            </button>
        </div>

        <div class="spacer-top-2">
            <button ion-button class="button-length" color="secondary" routerLink="/loginscreen">
                Sign In
            </button>
        </div>
    </ion-card-content>
</ion-card>
