
<ion-card class="login-form-container card-style">
    <ion-card-header text-center>
        <h1 class="color-dark">Dashboard</h1>
    </ion-card-header>
    <ion-card-content text-center>
        <ion-list no-lines inset class="activity-list-comman activity-list" *ngFor="let item of allTimeSchedule" [ngClass]="{'active-activity-comman': item.parrotGreenBG,'scoreToTodayReminder':item.scoreToTodayReminder}"  >
            <ion-list-header [ngClass]="{parrotGreenBG: item.parrotGreenBG, whiteColor: item.parrotGreenBG}">
                <ion-row>
                    <ion-col class="text-left time">{{item.items[0].time}}</ion-col>
                    <ion-col class="text-right remaining-time" *ngIf="item.items[0].dueTime">{{item.items[0].dueTime}}</ion-col>
                </ion-row>
            </ion-list-header>

            <ion-item tappable *ngFor="let schedule of item.items"
                      [ngClass]="{'purpleStrip': schedule.main_type == 'wellness','orangeStrip': schedule.main_type == 'meds','blueStrip': schedule.main_type == 'vital'}">
                <ion-icon *ngIf="schedule.main_type == 'meds'" name="appstore" item-left
                          style="margin-right: 0px; margin-left: 6px; margin-top: -7px;"
                          class="purple-color {{schedule.medicationIconObject.icon}}"
                          [style.color]="schedule.medicationColorObject.color">
                    <span class="path{{item}}" *ngFor="let item of schedule.medicationIconObject.spanObject"></span>
                </ion-icon>
                <ion-icon *ngIf="schedule.main_type == 'wellness'" name="appstore" item-left
                          class="purple-color {{schedule.icon}}">
                </ion-icon>
                <ion-icon *ngIf="schedule.main_type == 'vital'" name="appstore" item-left
                          class="blue-color {{schedule.icon}}">
                </ion-icon>
                {{schedule.name}}

                <ion-icon class="icon-false" *ngIf="schedule.comman_type == 'miss'" item-right>
                    <span class="path2"></span><span class="path3"></span><span class="path4"></span>
                </ion-icon>

                <ion-icon *ngIf="schedule.comman_type == 'done'" class="icon-true" item-right></ion-icon>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>
