.parrotGreenColor{
    color: #7AC810;
}

.icon-false .path2:before {
    content: "\e90f";
    margin-left: -1em;
    color: #ee2524;
}
.icon-false .path2:before {
    content: "\e90f";
    margin-left: -1em;
    color: #ee2524;
}

ion-list[inset].activity-list-meds ion-list-header ion-label .time, ion-list[inset].activity-list-wellness ion-list-header ion-label .time, ion-list[inset].activity-list ion-list-header ion-label .time {
    font-size: 14px;
}

ion-list[inset].activity-list-meds, ion-list[inset].activity-list-wellness, ion-list[inset].activity-list {
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);

    .item:nth-child(2n+1) {
        background: #f5f5f5;
    }

    .item:nth-child(2n) {
        background: #ffffff;
    }

    .item.activated {
        background: #ccc;
    }

    .item {

        &.blueStrip:after{
            content: "";
            position: absolute;
            left: 0;
            top:0;
            height: 100%;
            width: 8px;
            background: #1787FB;
        }

        &.orangeStrip:after{
            content: "";
            position: absolute;
            left: 0;
            top:0;
            height: 100%;
            width: 8px;
            background: #FF7639;
        }

        &.purpleStrip:after{
            content: "";
            position: absolute;
            left: 0;
            top:0;
            height: 100%;
            width: 8px;
            background: #a425fb;
        }




        ion-label {
            font-size: 14px;
        }

        ion-icon[item-left] {
            font-size: 16px;
        }

        ion-icon[item-right] {
            color: #a3a3a3;
            font-size: 16px;
        }
    }

    ion-list-header {
        color: #000;

        ion-label {
            margin: 0;
            letter-spacing: 0;
            text-transform: none;
            padding-right: 10px;

            .time {
                font-size: 16px;
            }
            .remaining-time {
                font-size: 12px;
            }
        }
    }
}

/**/

ion-list.activity-list-meds + ion-list.activity-list-meds ion-list-header {
    margin-top: 0;
}

ion-list.activity-list-wellness + ion-list.activity-list-wellness ion-list-header {
    margin-top: 0;
}

ion-list.activity-list + ion-list.activity-list ion-list-header {
    margin-top: 0;
}

.parrotGreenBG{
    background: #7AC810;
}

.home-page {

    .dashboard-top {
        align-items: center;
        flex-wrap: wrap;

        .today-date {
            font-size: 4vw;
            color: #4d4d4d;
        }

        .user-img {

            img {
                border-radius: 200px;
                border: 1.5vw solid #F7931E;
                width: 36vw;
                height: 36vw;
            }
        }

        .point-count {
            display: flex;
            align-items: center;
            text-align: center;

            img {
                width: 40px;
                margin: 0 auto;
            }
            p {
                margin: 0;
                color: #ACACAC;
                font-size: 13px;
                margin-top: 5px;
            }
            span {
                color: #000;
            }
            ion-label {
                margin: 0;
            }
        }

        .support-na {
            display: flex;
            align-items: center;
            text-align: center;

            h2 {
                color: #ACACAC;
                border: 2px solid;
                border-radius: 236px;
                width: 40px;
                height: 40px;
                font-size: 16px;
                line-height: 38px;
                align-items: center;
                text-align: center;
                margin: 0 auto;
            }
            p {
                margin: 0;
                color: #ACACAC;
                font-size: 13px;
                margin-top: 5px;
            }
            span {
                color: #000;
            }
        }
    }

    .yesterdayresult {

        .title {
            background: #8cc63f;
            color: #fff;
            font-size: 16px;
            padding: 3px 5px;
        }

        .results {
            padding: 3% 10%;
            color: #4d4d4d;
            font-size: 12px;

            ion-row {

                ion-col {
                    padding: 0.6vw 0;
                }
            }
        }

    }
    .imageurl1 {
        background: url("../../img/1.jpg") no-repeat center center / cover;
    }
    .imageurl2 {
        background: url("../../img/2.jpg") no-repeat center center / cover;
    }
    .imageurl3 {
        background: url("../../img/3.jpg") no-repeat center center / cover;
    }
    .imageurl4 {
        background: url("../../img/4.jpg") no-repeat center center / cover;
    }
    .todayreminders {
        .title {
            background: #f7931e;
            color: #fff;
            font-size: 16px;
            padding: 3px 5px;
        }

        ion-row {
            flex-wrap: wrap;
            padding: 5px;

            ion-col {

                .button {
                    border: 3px solid #fff;
                    font-size: 12px;
                    height: 22vw;
                    padding: 0;
                    margin: 0;
                }

                .dashboard-vital-btn {
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#44546a+0,557eff+100 */
                    background: #44546a; /* Old browsers */
                    background: -moz-linear-gradient(left, #44546a 0%, #557eff 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, #44546a 0%, #557eff 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, #44546a 0%, #557eff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44546a', endColorstr='#557eff', GradientType=1); /* IE6-9 */
                }
                .dashboard-vital-btn.button.activated {
                    background: #44546a;
                }

                .dashboard-welness-btn {
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a7034+0,9ac981+100 */
                    background: #4a7034; /* Old browsers */
                    background: -moz-linear-gradient(left, #4a7034 0%, #9ac981 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, #4a7034 0%, #9ac981 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, #4a7034 0%, #9ac981 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a7034', endColorstr='#9ac981', GradientType=1); /* IE6-9 */
                }
                .dashboard-welness-btn.button.activated {
                    background: #4a7034;
                }

                .dashboard-medication-btn {
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#652d90+0,aa8dff+100 */
                    background: #652d90; /* Old browsers */
                    background: -moz-linear-gradient(left, #652d90 0%, #aa8dff 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, #652d90 0%, #aa8dff 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, #652d90 0%, #aa8dff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#652d90', endColorstr='#aa8dff', GradientType=1); /* IE6-9 */
                }
                .dashboard-medication-btn.button.activated {
                    background: #652d90;
                }

                .dashboard-social-btn {
                    background: #8CC63F;
                }
                .dashboard-social-btn.button.activated {
                    background: #76a535;
                }
            }
        }
    }
}
