<ng-sidebar #sidebar [(opened)]="_opened"
            [position]="'left'"
            [mode]="'over'"
            [animate]="true"
            [closeOnClickOutside]="true" class="menu-side">
    <div style="height:55px">
        <ion-row (click)="sidebar.close()">
            <ion-col style="padding: 0; height: 55px;">
                <img src="assets/image/nestCareLogo.png" style="padding-left: 10px; padding-top: 10px; width:55px; height:55px"/>
            </ion-col>
            <ion-col text-right style="padding: 0; height: 55px;">
                <span style="font-size:30px; cursor: pointer;"><ion-icon style="padding-top: 5px; padding-right: 10px;" name="md-close"></ion-icon></span>
            </ion-col>
        </ion-row>
    </div>
    <ion-list style="width:250px">
        <ion-item style="cursor: pointer" routerLink="/account/plan" *ngIf="!isAdmin">
            Account
        </ion-item>
        <!--<ion-item style="cursor: pointer" routerLink="/dashboard" *ngIf="!isAdmin">-->
            <!--Dashboard-->
        <!--</ion-item>-->
        <ion-item style="cursor: pointer" routerLink="/admin" *ngIf="(currentRoute && isAdmin) || currentRoute === 'admin'">
            Customers
        </ion-item>
        <ion-item style="cursor: pointer" routerLink="/view-orders" *ngIf="(currentRoute && isAdmin) || currentRoute === 'view-all-orders'">
            View All Orders
        </ion-item>
        <ion-item style="cursor: pointer" routerLink="/support-network" *ngIf="(currentRoute && currentRoute.indexOf(['/account']) > -1 ||
        currentRoute.indexOf(['/account']) > -1) && !isAdmin">
            People You Support
        </ion-item>
        <ion-item style="cursor: pointer" (click)="goToMessageBoard()" *ngIf="!isAdmin">
            Message Board
        </ion-item>
        <ion-item style="cursor: pointer" *ngIf="!isAdmin">
            Help
        </ion-item>
        <ion-item style="cursor: pointer" *ngIf="isAdmin" (click)="goToAddCustomer()">
            Add a Customer
        </ion-item>
        <ion-item (click)="logOff()" style="cursor: pointer">
            Logoff
        </ion-item>
    </ion-list>
</ng-sidebar>

<div *ngIf="menuAppear" style="position: absolute; top: 0; left: 0; z-index: 99999">
    <button (click)="sidebar.open()" style="background-color:transparent">
        <span class="button-inner" style="font-size:38px">
            <ion-icon name="menu"></ion-icon>
        </span>
    </button>
</div>
<div class="primary-logo" *ngIf="logoAppear">
    <div style="margin: 0 auto; width:100px">
        <img src="assets/image/nestCareLogo.png" style="width:100px; height:100px"/>
    </div>

</div>
