<ion-card class="card-style" style="padding-left: 0; padding-right:0; margin-top: 25px">
    <ion-card-content text-center style="min-height: 500px; padding-left: 0; padding-right:0">
        <p style="font-size: 20px">View Orders</p>
        <div class="admin-tab">
            <div style="margin: 0 auto">
                <div style="height:40px; margin-left: 10px">
                    <span>Search: </span>
                    <input #myInput type="text" name="promo" pInputText [(ngModel)]="search" (input)="filterItem(myInput.value)"/>
                </div>
                <div style="height:80px">
                    <div style="width: 800px; margin: 0 auto">
                            <span> From Date:</span>
                            <p-calendar [(ngModel)]="fromDate" dateFormat="yy-mm-dd"></p-calendar>
                            <span style="padding-left: 15px"> To Date:</span>
                            <p-calendar [(ngModel)]="toDate" dateFormat="yy-mm-dd"></p-calendar>
                            <button ion-button (click)="dateFilter(fromDate, toDate)" class="standard-blue-button">
                                Filter
                            </button>
                    </div>
                </div>
                <div style="height:40px; margin-left: 10px; margin-top: 5px">
                    <span>Completed: </span>
                    <input type="checkbox" name="completed" value="true" [(ngModel)]="completedFilter" (change)="filterCompletedTransaction(completedFilter)">
                </div>
            </div>

            <ion-row class="select-this-text" style="margin-top:20px" >
                <ion-col [attr.width-11]>
                    <p>Order #</p>
                </ion-col>
                <ion-col [attr.width-11]>
                    <p>Customer</p>
                </ion-col>
                <ion-col [attr.width-11]>
                    <p>Device</p>
                </ion-col>
                <ion-col [attr.width-11]>
                    <p>Invoice Number</p>
                </ion-col>
                <ion-col [attr.width-12]>
                    <p>Shipping Address</p>
                </ion-col>
                <ion-col [attr.width-11]>
                    <p>Shipping Amt</p>
                </ion-col>
                <ion-col [attr.width-11]>
                    <p>Shipping Service</p>
                </ion-col>
                <ion-col [attr.width-11]>
                    <p>Order Date</p>
                </ion-col>
                <ion-col [attr.width-11]>
                    <p>Completed</p>
                </ion-col>

            </ion-row>
            <ion-row class="select-this-text" style="margin-top:5px" *ngFor="let order of filteredtotalOrders;">
                <ion-col [attr.width-11]>
                <p style="font-size:11px">{{order.id}}</p>
                </ion-col>
                <ion-col [attr.width-11]>
                <p style="font-size:11px">{{ order.full_name }}</p>
                </ion-col>
                <ion-col [attr.width-11]>
                    <p style="font-size:11px">{{ order.deviceOrder }}</p>
                </ion-col>
                <ion-col [attr.width-11]>
                <p style="font-size:11px">{{ order.invoiceNumber }}</p>
                </ion-col>
                <ion-col [attr.width-12]>
                <p style="font-size:11px">{{ order.shippingAddress }}</p>
                </ion-col>
                <ion-col [attr.width-11]>
                    <p style="font-size:11px">{{order.shipamt}}</p>
                </ion-col>
                <ion-col [attr.width-11]>
                    <p style="font-size:11px">{{ order.shipservice }}</p>
                </ion-col>
                <ion-col [attr.width-11]>
                    <p style="font-size:11px">{{ order.created_at | date:'medium' }}</p>
                </ion-col>
                <ion-col [attr.width-11]>
                    <p style="font-size:11px">{{ order.payment_status }}</p>
                </ion-col>

            </ion-row>
        </div>

        <!--<ion-row style="margin-top:5px" *ngFor="let cust of filteredCustomersList;">-->
            <!--<ion-col width-20>-->
                <!--<p style="font-size:11px">{{cust.first_name}} {{cust.last_name}}</p>-->
            <!--</ion-col>-->
            <!--<ion-col style="width:40%">-->
                <!--<p style="font-size:11px">{{ cust.email }}</p>-->
            <!--</ion-col>-->
            <!--<ion-col width-20>-->
                <!--<p style="font-size:11px">{{ cust.phone | phone }}</p>-->
            <!--</ion-col>-->
            <!--<ion-col width-20>-->
                <!--<p style="font-size:11px">{{ cust.status }}</p>-->
            <!--</ion-col>-->
        <!--</ion-row>-->
        <!--<ion-row style="margin-top:5px">-->
            <!--<ion-col width-20>-->
                <!--<p style="font-size:11px">Andrew Alanis</p>-->
            <!--</ion-col>-->
            <!--<ion-col style="width:40%">-->
                <!--<p style="font-size:11px">andrew@igocki.com</p>-->
            <!--</ion-col>-->
            <!--<ion-col width-20>-->
                <!--<p style="font-size:11px">Past Due</p>-->
            <!--</ion-col>-->
            <!--<ion-col width-20>-->
                <!--<button ion-button color="danger" style="font-size:11px;font-size: 9px; margin: 0 0;padding: 0px 5px; height: 72%;">-->
                    <!--Disable-->
                <!--</button>-->
            <!--</ion-col>-->
        <!--</ion-row>-->
    </ion-card-content>
</ion-card>

