<ion-card class="login-form-container card-style">
    <ion-card-header text-center>
        <h1 class="color-dark">Payment Plan</h1>
    </ion-card-header>
    <ion-card-content text-center>
        <p class="color-dark spacer-top-1">How often would you like to be billed?</p>

        <ion-segment [(ngModel)]="paymentPlan" color="dark" class="spacer-top-1">
            <ion-segment-button value="everyMonth" (ionSelect)="selectedPaymentPlan('everyMonth')">
                Monthly
            </ion-segment-button>
            <ion-segment-button value="everyYear" (ionSelect)="selectedPaymentPlan('everyYear')">
                1-Year
            </ion-segment-button>
            <ion-segment-button value="every2Years" (ionSelect)="selectedPaymentPlan('every2Years')">
                2-Year
            </ion-segment-button>
            <ion-segment-button value="lifetime" (ionSelect)="selectedPaymentPlan('lifetime')" *ngIf="workflow && workflow !== 'household'">
                Lifetime
            </ion-segment-button>
        </ion-segment>

        <div class="spacer-top-2">
            <h1 class="color-dark">{{ paymentPlanInfo.title }}</h1>
            <p class="color-dark plan-rate">You'll be billed {{ paymentPlanInfo.price }}</p>
            <p class="color-dark plan-rate">Setup Fee: {{paymentPlanInfo.setupFee | currency:'USD':true }}</p>
            <p class="color-dark plan-rate">Security Deposit: {{paymentPlanInfo.securityDeposit | currency:'USD':true }}</p>
            <p class="color-dark plan-rate" style="font-weight: bolder !important;">Total Price: {{paymentPlanInfo.totalprice | currency: 'USD':true}}</p>
            <p class="color-primary savings-value" *ngIf="paymentPlanInfo.savings">Save {{ paymentPlanInfo.savings }} over the monthly plan!</p>
        </div>

        <button ion-button large (click)="selectPlan(paymentPlanInfo)" class="button-length spacer-top-2">
            Select Plan&nbsp;
            <ion-icon name="arrow-forward"></ion-icon>
        </button>

        <button ion-button clear routerLink="/signupInfo" color="secondary" *ngIf="loginStatus !== 'logged-in'"
                class="button-length spacer-top-2">
            <ion-icon name="arrow-back"></ion-icon>
            &nbsp;Go Back
        </button>
        <button ion-button clear routerLink="/account" color="secondary" *ngIf="loginStatus === 'logged-in'"
                class="button-length spacer-top-2">
            <ion-icon name="arrow-back"></ion-icon>
            &nbsp;Go Back
        </button>

    </ion-card-content>
</ion-card>
