<form (ngSubmit)="submitThis()" [formGroup]="signupInfoForm">
    <ion-list>
        <ion-list-header>
            <p class="color-dark">You'll need an account to get started</p>
        </ion-list-header>
        <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input type="text" formControlName="first_name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Last Name</ion-label>
            <ion-input type="text" formControlName="last_name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Country Code</ion-label>
            <ion-input type="number" formControlName="countrycode" maxlength="3" [(ngModel)]="cc"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Phone xxx-xxx-xxxx</ion-label>
            <ion-input type="text" formControlName="mobile" [textMask]="{mask: mask}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Date of Birth</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" formControlName="date_of_birth" [(ngModel)]="dob"></ion-datetime>
        </ion-item>
        <ion-list radio-group formControlName="gender">
            <ion-list-header>
                Gender
            </ion-list-header>
            <ion-item>
                <ion-label>Male</ion-label>
                <ion-radio value="male"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Female</ion-label>
                <ion-radio value="female"></ion-radio>
            </ion-item>
        </ion-list>

        <ion-item>
            <ion-label floating>Email Address</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirmpassword"></ion-input>
        </ion-item>
    </ion-list>
    <p class="alert-danger" *ngIf="confirmPass()">
        Passwords do not match
    </p>
    <br>
    <p class="alert-warning" *ngIf="!signUpResponse.get('error')">
        Password should be 8 characters or longer and contain at least one uppercase letter, one lowercase laetter, one number, and one special character.
    </p>
    <p class="alert-danger" [ngClass]="{'hide_class': !signUpResponse.get('error')}">
        {{(signUpResponse.get('error') && signUpResponse.getIn(['error', 'message'])) ? signUpResponse.getIn(['error', 'message']): ''}}
    </p>
    <button ion-button large class="button-length spacer-top-2" type="submit"
            [disabled]="!signupInfoForm.valid || confirmPass() || signUpResponse.get('status') === 'submitted'">
        Create Account&nbsp;
        <ion-icon name="arrow-forward"></ion-icon>
    </button>

    <!--<button ion-button large class="button-length spacer-top-2"-->
            <!--type="button"-->

            <!--(click)="fakeRegister()">-->
        <!--Demo&nbsp;-->
        <!--<ion-icon name="arrow-forward"></ion-icon>-->
    <!--</button>-->

</form>
