<div *ngIf="(!loggedInChangeBilling || enrollNewPlan) ">
    <form [formGroup]="cardsForm" *ngIf="cardItems && cardItems[0] && cardItems.length > 0">
        <ion-list radio-group formControlName="cardSelected">
            <ion-list-header>
                <p class="color-dark">Confirm the billing details</p>
            </ion-list-header>
            <ion-item *ngFor="let card of cardItems" text-wrap>
                <ion-label color="dark">Card ending in ...{{card.last_four}}</ion-label>
                <ion-radio item-left value="{{ card.first_six + card.last_four }}" checked></ion-radio>
            </ion-item>
        </ion-list>
        <p class="alert-danger" *ngIf="cardItems && cardItems.size === 0 || !cardItems[0]">
            There were no payment cards returned.
        </p>
        <button ion-button
                type="button"
                [disabled]="errorForm"
                (click)="saveBilling.emit()" class="button-length spacer-top-2">
            Use this Payment Card&nbsp;
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
        <button ion-button class="button-length spacer-top-2"
                type="button">
            Change Billing Card
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </form>
</div>
