<div style="max-width:900px; margin:0 auto">
    <div style="margin:20px auto">
        <profile-header [email]="email" [fullname]="fullname" [userStatus]="userStatus"
                        [userBirth]="userBirth" [userGender]="userGender"
                        [userPhone]="userPhone" [accountType]="accountType"></profile-header>
    </div>
    <div class="accountpanel">
        <p-tabMenu [model]="items" [activeItem]="selectedTab"></p-tabMenu>
    </div>
    <ion-card class="card-style account-tab-content">
        <ion-card-content text-center style="padding-left: 0; padding-right:0">
            <router-outlet></router-outlet>
        </ion-card-content>
    </ion-card>

</div>
