.ui-menuitem-link.ui-corner-all {
    font-size: 12.5px
}

.accountpanel {
    margin: 0 10px;

    .ui-tabmenu-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
        padding-right: 0;
    }

    .ui-tabmenu.ui-widget.ui-widget-content.ui-corner-all {
        background: transparent;
    }

    .ui-tabmenuitem.ui-state-default.ui-corner-top.ui-state-active {
            background: white;
    }

    .ui-tabmenu .ui-tabmenu-nav > li.ui-state-default {
            background: #e7e7e7;
    }

    .ui-tabmenuitem.ui-state-default.ui-corner-top {
        width: 25%;
        margin-right: 0;
        a {
            width:100%;
        }
    }

    .ui-menuitem-link.ui-corner-all {
        font-size: 1.5rem;
    }

    .ui-tabmenuitem.ui-state-default.ui-corner-top:last-child {
        width: 25%;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        border: 1px solid white;
        border-bottom: none;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border-bottom: none;
    }

    .ui-tabmenu .ui-tabmenu-nav {
        padding: 0;
    }

    .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
        padding: .5em 8%;
    }
}

.account-tab-content {
    box-shadow: none !important;
    min-height: 240px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    border-top: none;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}




.plan-tab {
    .plan-label {
        font-size: 1.7rem;
    }

    .plan-value {
        font-size: 3.2rem;
    }
}


.billing-tab, .shipping-tab {
    .payment-card {
        margin: 10px 0 4px 0;
        font-size: 2.2rem;
    }

    .address {
        font-size: 1.7rem;
    }
}

.billing-tab, .shipping-tab, .orders-tab {
    .tab-title {
        font-size: 3.2rem;
    }
}

.orders-tab {
    .order-list {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        .order-amount {
            font-size: 2.2rem;
            font-weight: 700;
        }

        .order-details {
            font-size: 1.7rem;
            font-weight: 300;
            color: $color-dark;
        }
    }
}
