<ion-card class="login-form-container no-lines card-style">
    <ion-card-header text-center>
        <h2 class="color-dark" style="font-size:24px">Household Devices</h2>
    </ion-card-header>
    <ion-card-content text-center>
        <div>
            <p class="color-dark">You'll need devices to get started</p>
            <ion-list>
                <button class="option-button" (click)="optionSelected(0)">
                    <ion-item>
                        <ion-checkbox [(ngModel)]="options[0].selected" color="primary" checked="true"></ion-checkbox>
                        <ion-label color="primary">Include Bundled Devices</ion-label>
                    </ion-item>
                    <ion-item class="device-description">
                        <h1 class="color-dark">FREE</h1>
                        <p>Our bundled kit of devices includes a wearable activity tracker/medications reminder, a blood pressure cuff, a pulse oximeter and a smart scale. You'll need these devices unless you already have them.</p>
                    </ion-item>
                </button>
            </ion-list>

            <button ion-button large (click)="selectDevices()" class="button-length spacer-top-2">
                Select Devices&nbsp;
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
            <button ion-button clear routerLink="/select-plan" color="secondary" class="button-length spacer-top-2">
                <ion-icon name="arrow-back"></ion-icon>
                &nbsp;Go Back
            </button>
        </div>

    </ion-card-content>
</ion-card>
