<ion-row class="address" *ngIf="shipAddress && shipAddress.get('city_id') !== undefined">
    <ion-col text-center>
        <div>{{shipAddress.get('name')}}</div>
        <div>{{shipAddress.get('line1')}}</div>
        <div>{{shipAddress.get('line2')}}</div>
        <div>{{shipAddress.get('city_id')}}, {{shipAddress.get('state_id')}} {{shipAddress.get('zip_code')}}</div>
    </ion-col>
</ion-row>
<ion-row class="address" *ngIf="!shipAddress || shipAddress.get('city_id') === undefined">
    <ion-col text-center>
        <p>No Shipping Address has been provided.</p>
    </ion-col>
</ion-row>
