<form (ngSubmit)="completeNewCard()" [formGroup]="addPaymentForm" id="paymentForm">

    <ion-list class="spacer-top-2">
        <ion-list-header>
            <p class="color-secondary">Add / Replace a payment card below</p>
        </ion-list-header>
        <!--<ion-item>-->
            <!--<ion-label floating>Card Number</ion-label>-->
            <!--<ion-input #inputstring type="text" formControlName="cardNumber"-->
                       <!--[textMask]="{mask: cardMask}" ></ion-input>-->
        <!--</ion-item>-->
        <div data-recurly="number"></div>
        <div data-recurly="month"></div>
        <div data-recurly="year"></div>
        <div data-recurly="cvv"></div>
        <!--<ion-item class="no-gray-bottom" *ngIf="!noSameAsShipping">-->
            <!--<ion-label>Same As Shipping Address</ion-label>-->
            <!--<ion-checkbox color="dark" checked="{{defaultShipping}}" (ionChange)="sameAsShipping.emit()"></ion-checkbox>-->
        <!--</ion-item>-->
        <div class="recurly-hosted-field" *ngIf="!shippingChecked">
            <input type="text" class="payment-input" placeholder="First Name on Card" data-recurly="first_name">
        </div>
        <div class="recurly-hosted-field" *ngIf="!shippingChecked">
            <input type="text" class="payment-input" placeholder="Last Name on Card" data-recurly="last_name">
        </div>
        <div class="recurly-hosted-field" *ngIf="!shippingChecked">
            <input type="text" class="payment-input" placeholder="Address Line 1" data-recurly="address1">
        </div>
        <div class="recurly-hosted-field" *ngIf="!shippingChecked">
            <input type="text" class="payment-input" placeholder="Address Line 2" data-recurly="address2">
        </div>
        <div class="recurly-hosted-field" *ngIf="!shippingChecked">
            <input type="text" class="payment-input" placeholder="City" data-recurly="city">
        </div>
        <ion-item style="margin-top:15px; padding-left: 3px;" *ngIf="!shippingChecked">
            <ion-label>State</ion-label>
            <ion-select [(ngModel)]="stateSelected" formControlName="state" (ionChange)="changeState.emit(stateSelected)">
                <ion-option *ngFor="let state of statesArray" [value]="state.abbreviation">{{state.name}}</ion-option>
            </ion-select>
        </ion-item>
        <div class="recurly-hosted-field" *ngIf="!shippingChecked">
            <input type="text" class="payment-input" placeholder="Zip code" data-recurly="postal_code">
        </div>

    </ion-list>
    <p class="alert-danger" *ngIf="errorsText">
        {{errorsText}}
    </p>
    <p class="alert-danger" *ngIf="errorForm">
        {{(errorForm) ? errorForm.get('defaultMessage') : ''}}
    </p>
    <button ion-button color="secondary" class="button-length spacer-top-2" type="submit"
            *ngIf="!loggedInChangeBilling || enrollNewPlan"
            [disabled]="status === 'submitted'">
        Add / Replace this Payment Card
    </button>
    <button ion-button class="button-length spacer-top-2" type="submit"
            *ngIf="loggedInChangeBilling && !enrollNewPlan"
            [disabled]="status === 'submitted'">
        Change Billing Card
    </button>
    <!--<button ion-button color="secondary"-->
            <!--(click)="addPayment.emit(fakeAddNewPayment())"-->
            <!--class="button-length spacer-top-2" type="button">-->
        <!--Demo Add-->
    <!--</button>-->
    <input type="hidden" *ngIf="shippingChecked" name="recurly-token" data-recurly="first_name" [value]="customerShippingValues.first_name">
    <input type="hidden" *ngIf="shippingChecked" name="recurly-token" data-recurly="last_name" [value]="customerShippingValues.last_name">
    <input type="hidden" *ngIf="shippingChecked" name="recurly-token" data-recurly="address1" [value]="customerShippingValues.address1">
    <input type="hidden" *ngIf="shippingChecked" name="recurly-token" data-recurly="address2" [value]="customerShippingValues.address2">
    <input type="hidden" *ngIf="shippingChecked" name="recurly-token" data-recurly="city" [value]="customerShippingValues.city">
    <input type="hidden" *ngIf="shippingChecked" name="recurly-token" data-recurly="state" [value]="customerShippingValues.state">
    <input type="hidden" *ngIf="shippingChecked" name="recurly-token" data-recurly="postal_code" [value]="customerShippingValues.postal_code">
    <input type="hidden" *ngIf="!shippingChecked" name="recurly-token" data-recurly="state" [value]="stateSelect">
    <input type="hidden" name="recurly-token" data-recurly="country" value="US">
    <input type="hidden" name="recurly-token" data-recurly="token">
</form>

