<div>
    <form [formGroup]="ratesForm">
        <ion-list radio-group formControlName="rateSelected" (ionChange)="rateSelect.emit(filterSelectedRate())"
                  *ngIf="rateItems && rateItems.size > 0">
            <ion-item *ngFor="let rate of rateItems" text-wrap>
                <ion-label>
                    <p class="shipping-font">{{rate.servicelevel_name}}</p>
                    <p>{{rate.amount | currency:'USD':true}}</p>
                    <p>
                        {{rate.duration_terms}}
                    </p>
                </ion-label>
                <ion-radio item-left value="{{rate.object_id}}"></ion-radio>
            </ion-item>
        </ion-list>
        <p class="alert-danger" *ngIf="rateItems && rateItems.size === 0">
            There were no shipping rates returned.
        </p>

        <button ion-button large routerLink="/payment" class="button-length spacer-top-2" type="submit"
                [disabled]="!ratesForm.valid || (rateItems && rateItems.size === 0)">
            Go To Payment&nbsp;
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </form>
</div>
