<h1 style="text-align: center; color: white; font-family: Roboto, sans-serif;" [ngClass]="{'hide_class': showLogin}">Logging you in to our community, Please wait...</h1>

<ion-card class="login-form-container card-style" [ngClass]="{'hide_class': !showLogin}">
    <ion-card-header text-center >
        <h1 class="color-dark">Sign In</h1>
    </ion-card-header>
    <ion-card-content text-center [ngClass]="{'hide_class': !showLogin}">
        <div>
            <login-form [authObject]="auth$ | async" [isSso]="true"></login-form>

            <button ion-button clear routerLink="/login" color="secondary"
                    class="button-length spacer-top-2">
                <ion-icon name="arrow-back"></ion-icon>
                &nbsp;Go Back
            </button>

            <a routerLink="/forgetPassword">Forgot Password?</a>
        </div>

    </ion-card-content>
</ion-card>
