<ion-card class="card-style" style="padding-left: 0; padding-right:0; margin-top: 25px">
    <ion-card-content text-center style="min-height: 500px; padding-left: 0; padding-right:0">
        <p style="font-size: 20px">Customer List</p>
        <p class="alert-success" *ngIf="updateUsersSuccess">
            {{updateUsersSuccess}}
        </p>
        <p class="alert-danger" *ngIf="verifiedFail">
            {{verifiedFail}}
        </p>
        <div class="admin-tab">
            <div style="margin: 0 auto">
                <div style="height:40px; margin-left: 10px">
                    <span>Search: </span>
                    <input #myInput type="text" name="promo" pInputText [(ngModel)]="search" (input)="filterItem(myInput.value)"/>
                </div>
            </div>
            <ion-list class="admin-customer-list" style="margin: 0 auto">
                <ion-item *ngFor="let cust of filteredCustomersList | paginate: {itemsPerPage: 9, currentPage:page, id: '1'}">
                        <div class="select-this-text">
                            <div class="admin-name">{{cust.first_name}} {{cust.last_name}}</div>
                            <div class="admin-details">Account #: {{ cust.id }}</div>
                            <div class="admin-details">{{ cust.email }}</div>
                            <div class="admin-details">{{ cust.mobile | phone }}</div>
                        </div>
                        <span class="label" [ngClass]="{'label-success': cust.status === 'Subscribed','label-danger': cust.status == 'Non paying'}">{{ cust.status}}</span>
                    <span style="margin-left:5px">Verified: </span>
                    <input type="checkbox" name="verified" value="true" [(ngModel)]="cust.verified" (change)="changeVerifiedStatus(cust)">
                        <div item-right>
                            <button ion-button small outline color="secondary" (click)="showUserDetailsDialog(cust)">User Details</button>
                            <br>
                            <button ion-button small outline color="secondary" (click)="viewUserProfile(cust)">View Profile</button>
                            <br>
                            <button ion-button small outline color="secondary" style="width:110px" (click)="showVerificationDialog(cust);">Verify</button>
                        </div>

                </ion-item>
            </ion-list>
        </div>
        <pagination-controls (pageChange)="page = $event" id="1" [ngClass]="{invisibleAdmin: !showListItems}"
        maxSize="7"
        directionLinks="true"
        autohide="true">
        </pagination-controls>
    </ion-card-content>
</ion-card>
<p-dialog
    header="User Details / Verification"
    [(visible)]="display"
    [modal]=true
    [closable]=true
    [resizable]=false
    [width]=320
    [height]=700>
        <div *ngIf="verificationModal">
            <button ion-button class="button-length spacer-top-2"
                    type="button" (click)="sendSMS()">
                Send Verification SMS
            </button>
            <br>
            <p>Phone Number: {{detailUserPhone}}</p>
            <br>
            <br>
            <p style="font-size:16px;">Verification Number: {{randNumberDisplay}}</p>
        </div>
        <div *ngIf="userDetailsModal">
            <p *ngIf="userDetailsError" class="alert-danger">
                {{userDetailsError}}
            </p>
            <div style="margin-top: 20px">
                <span>Email: </span>
                <input type="text" pInputText [(ngModel)]="userDetails.email" style="margin-left: 55px"/>
            </div>

            <div style="margin-top: 20px">
                <span>First Name: </span>
                <input type="text" pInputText [(ngModel)]="userDetails.first_name" style="margin-left: 20px"/>
            </div>

            <div style="margin-top: 20px">
                <span>Last Name: </span>
                <input type="text" pInputText [(ngModel)]="userDetails.last_name" style="margin-left: 20px"/>
            </div>
            <div style="margin-top: 20px">
                <span>Phone: </span>
                <input type="text" pInputText [(ngModel)]="userDetails.mobile" style="margin-left: 48px"/>
            </div>
            <div style="margin-top: 20px;">
                <span style="margin-right: 61px;">DOB: </span>
                <p-calendar [(ngModel)]="userDetails.dob" readonlyInput="readonlyInput"></p-calendar>
            </div>
            <div style="margin-top: 20px;">
                <span>Gender: </span>
                <div style="display:inline-block">
                    <form action="">
                        <input type="radio" [(ngModel)]="userDetails.gender" style="display:inline-block" name="gender" value="male"> Male
                        <input type="radio" [(ngModel)]="userDetails.gender" style="display:inline-block" name="gender" value="female"> Female
                    </form>
                </div>

            </div>
            <div style="margin-top: 20px;">
                <button ion-button (click)="saveUserDetails()" class="standard-blue-button">
                    Save Details
                </button>
            </div>
            <div style="height:300px"></div>
        </div>
    </p-dialog>
