.admin-form-container {
    margin: 20px auto;
    display: block;

    @media screen and (max-width: 360px) {
        width: 95%;
    }

    @media screen and (min-width: 360px) {
        width: 1200px;
        padding: 20px;
    }

    &.card-md .item-md.item-block .item-inner {
        border-bottom: 1px solid #dedede;
    }

    &.card-md .item-md.item-block:last-child .item-inner {
        border-bottom: none;
    }

    &.card-md.no-lines .item-md.item-block .item-inner {
        border: none;
    }

    &.card-md ion-card-header h1 {
        font-size: 4.6rem;
        font-weight: 300;
    }

    &.card-md h1 {
        font-size: 3.0rem;
        font-weight: 300;
    }

    &.card-md p {
        font-size: 1.2em;
        font-weight: 400;
    }

    .text-prompt-large {
        font-size: 1.8rem;
    }
}

.admin-tab {
    .tab-title {
        font-size: 3.2rem;
    }
}

.invisibleAdmin {
    visibility: hidden;
}

.admin-tab {
    .admin-customer-list {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        .admin-name {
            font-size: 1.75rem;
            font-weight: 700;
        }

        .admin-details {
            font-size: 1.50rem;
            font-weight: 300;
            color: $color-dark;
        }
    }
}

.ng2-pagination{
    cursor: pointer;
    padding-left:0;
    font-size: 22px;
}
