.login-form-container.card-md .item-md.no-gray-bottom.item-block .item-inner {
    border-bottom: 0px;
}

.recurly-hosted-field {
    position: relative;
    width: 100%;
    height: 42px;
    border-bottom: 1px solid #dedede;
    background: transparent;
    padding: 0.5rem;
    margin: 0 0 1rem;
    outline: none;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: none;
    border-radius: 0;
    color: #c2c2c2;
    -webkit-appearance: none;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.payment-input {
    font-size: 15px;
    color: rgb(44, 7, 48);
    font-family: 'Open Sans', Helvetica, sans-serif;
    background: transparent;
    border: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}
