<ion-card class="login-form-container card-style">
    <ion-card-header text-center>
        <h1 class="color-dark">Billing</h1>
    </ion-card-header>
    <ion-card-content text-center>
        <div>
            <payment-selector [cardItems]="cards | async"
                              [errorForm]="errorForm | async"
                              [loggedInChangeBilling]="loggedInChangeBilling"
                              [enrollNewPlan]="enrollPlan"
                              [selectedCard]="selectedCard | async"
                              (saveBilling)="saveBilling()"></payment-selector>

            <new-payment-form [errorForm]="errorForm | async"
                              [defaultShipping]="false"
                              [shippingChecked]="sameAsShip"
                              [stateSelect]="stateSelect"
                              [errorsText]="errors"
                              [enrollNewPlan]="enrollPlan"
                              [customerShippingValues] = "customerShippingValues"
                              (removeCurrentCard)="removeCurrentCard()"
                              (raiseError)="raiseError($event)"
                              (changeState)="changeSt($event)"
                              [loggedInChangeBilling]="loggedInChangeBilling"
                              (submitNewPayment)="submitNewPayment($event)"
                              (loggedInSubmitNewPayment)="loggedInSubmitNewPayment($event)"
                              (sameAsShipping)="sameAsShipping()"
                              (clearErrors)="clearErrors()"></new-payment-form>

            <button ion-button clear routerLink="/select-devices" *ngIf="loginStatus !== 'logged-in' || enrollPlan" color="secondary"
                    class="button-length spacer-top-2">
                <ion-icon name="arrow-back"></ion-icon>
                &nbsp;Go Back
            </button>
            <button ion-button clear routerLink="/account/bill" color="secondary" *ngIf="loginStatus === 'logged-in' && !enrollPlan"
                    class="button-length spacer-top-2">
                <ion-icon name="arrow-back"></ion-icon>
                &nbsp;Go Back
            </button>
        </div>
    </ion-card-content>
</ion-card>
