<!--<ion-header>-->
    <!--<ion-toolbar color="favorite">-->
        <!--<img src="assets/image/nestcare-logo.png" style="display:inline-block" height="100%"/>-->
        <!--<ion-title class="titleicon" style="display:inline-block">nestCARE</ion-title>-->
    <!--</ion-toolbar>-->
<!--</ion-header>-->

    <ion-content class="bg-green custom-view" fullscreen="true" contentTop="0">

        <div class="primary-margin" id="main-container">

        </div>

        <ng-sidebar-container>


            <top-menu-logo [menuAppear]="menuAppear" [logoAppear]="logoAppear"></top-menu-logo>
            <div class="center-container">
                <router-outlet></router-outlet>
            </div>
        </ng-sidebar-container>
    </ion-content>



<loading-component></loading-component>
<p-dialog
    header="Dialog"
    [(visible)]="display"
    [modal]=true
    [closable]=true
    [resizable]=false
    [width]=500
    >
        <input type="text"/>
    </p-dialog>
