// http://ionicframework.com/docs/v2/theming/



$primary-color: #00A000;

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.hide_class {
    visibility: hidden;
}



.standard-blue-button {
    max-width: 130px;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 5px;
    margin-bottom: 8px;
    display: inline;
    height: 30px;
    text-transform: uppercase;
    background-color: dodgerblue;
}

.select-this-text {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.ui-widget-overlay.ui-dialog-mask {
    z-index: -1 !important;
}

.ui-dialog-content.ui-widget-content {
    padding-top: 2px !important;
}

.changeBillingText {
    font-size: 16px;
}

.better_hide {
    display: none;
}

.camel {
    text-transform: capitalize;
}

.shipping-font {
    font-size: 22px !important;
    color: #0A0A0A !important;
}

.show_class {
    visibility: visible;
}

.menu-side {
    aside {
        box-shadow:rgba(34, 34, 34, 0.682353) 2px 0px 2px, rgba(34, 34, 34, 0.682353) -4px 0px 2px;
    }
}

.button-length {
    max-width: 280px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-transform: uppercase;
}

.spacer-top-1 {
    margin-top: 10px !important;
}

.spacer-top-2 {
    margin-top: 20px !important;
}

.spacer-top-3 {
    margin-top: 30px !important;
}

.spacer-top-4 {
    margin-top: 40px !important;
}

.spacer-top-5 {
    margin-top: 50px !important;
}

.primary-color {
    background-color: $primary-color;
}
.fixed-content{
    margin-top: 56px !important;
}


.card-md ion-card-content {
    @media screen and (min-width: 320px) {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

.scroll-content {
    @media screen and (min-width: 320px) {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    @media screen and (min-width: 413px) {
        padding-right: 16px;
        padding-left: 16px;
    }
}


.center-container {
    @media screen and (min-width: 320px) {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 300px;
    }

    @media screen and (min-width: 413px) {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 400px;
    }

    @media screen and (min-width: 769px) {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 650px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 900px;
    }
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner ion-label {
    color: $color-danger;
}

.item-md.item-select.select-has-value .item-inner { //.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom: $color-secondary;
    box-shadow: inset 0 -1px 0 0 $color-secondary;
}

.form-select-item {
    margin-top: 21px;
    ion-label {
        margin-bottom: 0;
    }

    ion-select {
        padding-bottom: 0;
    }
}

ion-toolbar {
    ion-title, img {
        display: inline-block;
    }

    ion-title .toolbar-title {
        font-size: 36px;
    }

    img {
        width: 38px;
        margin-bottom: 2px;
        margin-left: 10px;
    }
}

ion-input input, ion-select .select-text {
    color: $color-dark;
}

.color-favorite {
    color: $color-favorite !important;
}

.color-secondary {
    color: $color-secondary !important;
}

.color-dark {
    color: $color-dark !important;
}

.color-primary {
    color: $color-primary !important;
}

.light-text {
    color: #aaa !important;
}

.predawn {
    background: #FFA17F; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFA17F , #00223E); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFA17F , #00223E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.moss {
    background: #134E5E; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #134E5E , #71B280); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #134E5E , #71B280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mild {
    background: #67B26F; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #67B26F , #4ca2cd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #67B26F , #4ca2cd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dawn {
    background: #F3904F; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F3904F , #3B4371); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F3904F , #3B4371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.primary-margin {

    @media screen and (max-width: 520px) {
        padding-top: 0px;
    }

    @media screen and (min-width: 520px) {
        padding-top: 0px;
    }
}

.primary-logo {


    @media screen and (max-width: 520px) {
        margin: 0px auto 0 auto;
        width: 90px;
    }

    @media screen and (min-width: 520px) {
        margin: 0px auto 0 auto;
        width: 200px;
    }

    img {
        width: 100%;
    }
}

ion-header {

    &.custom-view::after {
        background-image: none;
    }

}

.custom-view {

    scroll-content {
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    .toolbar-background {
        background: transparent !important;
        border-color: transparent !important;
    }

}

.login-welcome {
    width: 180px;
    margin: 0 auto;
    line-height: 1.1;
    text-align: center;
    color: #f8f8f8;
    font-size: 1.5rem;
}

.bg-green{
    background-image: url(../assets/image/bg-green-min.jpg);
}
