<form (ngSubmit)="addShippingAddress()" [formGroup]="addAddressForm" *ngIf="!newShippingResponse.get('resp')">
    <ion-list class="spacer-top-2">
        <ion-list-header>
            <p class="color-secondary">Add or update shipping address below</p>
        </ion-list-header>

        <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Address</ion-label>
            <ion-input type="text" formControlName="addressLine1"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Apt / Unit</ion-label>
            <ion-input type="text" formControlName="addressLine2"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>City</ion-label>
            <ion-input type="text" formControlName="city"></ion-input>
        </ion-item>
        <ion-item style="margin-top:15px">
            <ion-label>State</ion-label>
            <ion-select [(ngModel)]="stateSelected" formControlName="state">
                <ion-option *ngFor="let state of statesArray" [value]="state.abbreviation">{{state.name}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label floating>Zip Code</ion-label>
            <ion-input type="number" formControlName="zipCode" maxlength="5" id="zipShipping"></ion-input>
        </ion-item>
    </ion-list>
    <p class="alert-danger" *ngIf="newShippingResponse.get('error')">
        {{(newShippingResponse) ? newShippingResponse.getIn(['error', 'message']) : ''}}
    </p>
    <button ion-button color="secondary" class="button-length spacer-top-2" type="submit">
        Use This Shipping Address
    </button>
    <!--<button ion-button color="secondary"-->
            <!--(click)="fakeAddShippingAddress()"-->
            <!--class="button-length spacer-top-2" type="button">-->
        <!--Demo Add-->
    <!--</button>-->
</form>
