<div style="margin: 15px" class="orders-tab">
    <ion-row>
        <ion-col center>
            <div class="tab-title">Past Orders</div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col center *ngIf="!orders || orders.size < 1 || orders.length < 1">
            <p>There are currently no orders made.</p>
        </ion-col>
        <ion-list class="order-list" *ngIf="orders && (orders.size > 0 || orders.length > 0)">
            <ion-item *ngFor="let order of orders;">
                    <div class="order-amount" *ngIf="order.amt">{{ order.amt | currency:'USD': 2}}</div>
                    <div class="order-details" *ngIf="order.amt">{{ order.closed_date | date: 'mediumDate'}}</div>
                    <button ion-button small outline item-right color="secondary" *ngIf="order.amt" (click)="downloadInvoice(order.invoice_number)">View Receipt</button>

                    <div class="order-amount" *ngIf="order.get">{{ order.get('amt') | currency:'USD': 2}}</div>
                    <div class="order-details" *ngIf="order.get">{{ order.get('closed_date') | date: 'mediumDate'}}</div>
                    <button ion-button small outline item-right color="secondary" *ngIf="order.get" (click)="downloadInvoice(order.get('invoice_number'))">View Receipt</button>
            </ion-item>
        </ion-list>
    </ion-row>
</div>
