

.account-primary {
    color: white;
    margin: 0 auto;

    .status {
        width: 300px;


    }
    .status-label {
        font-weight: 300;
        color: #eee;
    }
    .status-value {
        font-weight: 700;
        font-size: 1.7rem;
    }

    hr {
        background-color: white;
    }

    .name {
        font-size: 3.0rem;
        font-weight: 700;
    }

    .email {
        font-size: 1.7rem;
        font-weight: 300;
    }

    .avatar {
        margin: 0 auto;
        border: 5px solid white;
        border-radius: 50%;
    }
}
