<ion-row>
    <div class="account-primary">
        <ion-row text-center>
            <ion-col>
                <ion-img class='avatar' width="120" height="120" src="assets/image/avatar.jpeg"></ion-img>
                <div class="name select-this-text">{{ fullname }}</div>
                <div class="email select-this-text">{{ email }}</div>
            </ion-col>
        </ion-row>
        <hr/>
        <ion-row class="status">
            <ion-col text-center width-50>
                <span class="status-label">Payment Status: </span>
            </ion-col>
            <ion-col width-50 text-center width-50>
                Acct Type:
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center width-50 class="select-this-text">
                <span class="status-value">{{ userStatus }}</span>
            </ion-col>
            <ion-col text-center width-50 class="select-this-text">
                <span class="status-value">{{ accountType }}</span>
            </ion-col>
        </ion-row>
        <hr/>
        <ion-row>
            <ion-col text-center width-50 class="select-this-text">
                {{ userBirth | date: 'shortDate'}}, <span class="camel">{{ userGender}}</span>
            </ion-col>
            <ion-col text-center width-50 class="select-this-text">
                <span class="phone">{{ userPhone | phone}}</span>
            </ion-col>
        </ion-row>
    </div>
</ion-row>
