<ion-card class="login-form-container card-style">
    <ion-card-header text-center>
        <h1 class="color-dark">Shipping</h1>
    </ion-card-header>
    <ion-card-content text-center>
        <div>
            <shipping-selector [newShippingResponse]="shipping$ | async" [loggedInChangeShipping]="loggedInChangeAddress"
            [enrollNewPlan]="enrollPlan"></shipping-selector>
            <new-shipping-form [newShippingResponse]="shipping$ | async"
                               (clearErrors)="clearErrors()"
                               (addNewShipping)="addNewShipping($event)">
            </new-shipping-form>



            <button ion-button clear routerLink="/select-devices" color="secondary"
                    *ngIf="loginStatus !== 'logged-in' || enrollPlan"
                    class="button-length spacer-top-2">
                <ion-icon name="arrow-back"></ion-icon>
                &nbsp;Go Back
            </button>
            <button ion-button clear routerLink="/account/ship" color="secondary" *ngIf="loginStatus === 'logged-in' && !enrollPlan"
                    class="button-length spacer-top-2">
                <ion-icon name="arrow-back"></ion-icon>
                &nbsp;Go Back
            </button>
        </div>

    </ion-card-content>
</ion-card>
