<ion-card class="login-form-container card-style">
    <ion-card-header text-center>
        <h1 class="color-dark">Your Order</h1>
        <h3 class="color-dark">Almost done – please take a moment to review the order before you submit</h3>
    </ion-card-header>
    <ion-card-content text-center class="color-dark">
        <order-summary [shippingRate]="shippingRate | async"
                       [billingAddress]="billingAddress | async"
                       [selectedCard]="selectedCard | async"
                       [shippingAddress]="shippingAddress | async"
                       [orderSummary]="orderSummary | async"
                        [selectedPlan]="selectedPlan | async"
                       [shippedItems]="deviceLineItems.size"
                       (redeemPromo)="redeemPromo($event)"
                        (fulfillOrder)="submitFulfillmentOrder($event)"></order-summary>
        <button ion-button clear routerLink="/payment" color="secondary" class="button-length spacer-top-2">
            <ion-icon name="arrow-back"></ion-icon>
            &nbsp;Go Back
        </button>
    </ion-card-content>
</ion-card>
