.device-description {

    padding-bottom: 30px;
    p {

        white-space: normal;
    }

    ion-label {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 55px;
    }
}

.option-button {
    background-color: transparent;
    border-radius: 10px;

    div, span, p, h1, ion-item {
        pointer-events: none;
    }
}

.option-button:first-child {
    border: 1px solid $color-primary;
}

.option-button:nth-child(2), .option-button:nth-child(3) {
    margin-top: 20px;
    border: 1px solid $color-secondary;
}
