<ion-card class="login-form-container no-lines card-style">
    <ion-card-header text-center>
        <h1 class="color-dark">Devices</h1>
    </ion-card-header>
    <ion-card-content text-center>
        <div>
            <p class="color-dark">You'll need devices to get started</p>
            <ion-list>
                <button class="option-button" (click)="optionSelected(0)">
                    <ion-item>
                        <ion-checkbox [(ngModel)]="options[0].selected" color="primary" checked="true" disabled></ion-checkbox>
                        <ion-label color="primary">Include Bundled Devices</ion-label>
                    </ion-item>
                    <ion-item class="device-description">
                        <h1 class="color-dark">The plan includes the following devices</h1>
                        <p>Our bundled kit of devices includes a wearable activity tracker/medications reminder, a blood pressure cuff, a pulse oximeter and a smart scale. You'll need these devices unless you already have them.</p>
                    </ion-item>
                </button>

                <!--<button class="option-button" (click)="optionSelected(1)">-->
                    <!--<ion-item>-->
                        <!--<ion-checkbox [(ngModel)]="options[1].selected" color="secondary"></ion-checkbox>-->
                        <!--<ion-label class="color-secondary">Include Additional Device 1</ion-label>-->
                    <!--</ion-item>-->
                    <!--<ion-item class="device-description">-->
                        <!--<h1 class="color-dark">$195</h1>-->
                        <!--<p>Need a way to fill out some text in a field? Add our Additional Device 1 to your purchase today to easily get that text filled out</p>-->
                    <!--</ion-item>-->
                <!--</button>-->

                <!--<button class="option-button" (click)="optionSelected(2)">-->
                    <!--<ion-item>-->
                        <!--<ion-checkbox [(ngModel)]="options[2].selected" color="secondary"></ion-checkbox>-->
                        <!--<ion-label class="color-secondary">Include Additional Device 2</ion-label>-->
                    <!--</ion-item>-->
                    <!--<ion-item class="device-description">-->
                        <!--<h1 class="color-dark">$45</h1>-->
                        <!--<p>Need a way to fill out some text in a field? Add our Additional Device 2 to your purchase today to easily get that text filled out</p>-->
                    <!--</ion-item>-->
                <!--</button>-->
            </ion-list>

            <button ion-button large (click)="selectDevices()" class="button-length spacer-top-2">
                OK
                <ion-icon name="arrow-forward" style="padding-left:5px"></ion-icon>
            </button>
            <button ion-button clear routerLink="/select-plan" color="secondary" class="button-length spacer-top-2">
                <ion-icon name="arrow-back"></ion-icon>
                &nbsp;Go Back
            </button>
        </div>

    </ion-card-content>
</ion-card>
