<ion-card class="login-form-container card-style">
    <ion-card-content text-center>
        <div *ngIf="workflow !== 'explorer'">
            Your order has been succesfully completed.
        </div>
        <div *ngIf="workflow === 'explorer'">
            Your Explorer account has been created.
        </div>

        <div class="spacer-top-2">
            <button ion-button class="button-length" type="button" color="secondary" routerLink="/loginscreen" *ngIf="!enrollPlan">
                Go to Login
            </button>
            <button ion-button class="button-length" type="button" color="secondary" routerLink="/account/plan" *ngIf="(enrollPlan  || loginStatus === 'logged-in') && !isAdmin">
                Go to Account
            </button>

            <button ion-button class="button-length" type="button" color="secondary" (click)="goToAccountAdmin()" *ngIf="enrollPlan && isAdmin">
                Go to Account
            </button>
            <button ion-button class="button-length" type="button" color="secondary" routerLink="/admin" *ngIf="enrollPlan && isAdmin">
                Go to Admin
            </button>
        </div>
    </ion-card-content>
</ion-card>
