<form (ngSubmit)="submitThis()" [formGroup]="loginForm">
    <ion-list>
        <ion-item>
            <ion-label floating>E-mail</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
    </ion-list>

    <p class="alert-danger" [ngClass]="{'better_hide': !errorIsVisible}">
        {{ error }}
    </p>
    <p class="alert-success" [ngClass]="{'better_hide': !successVisible}">
        Password reset e-mail sent. Please check your e-mail!
    </p>
    <button ion-button large class="button-length spacer-top-2" [disabled]="!loginForm.valid || submitted">
        Send Reset E-mail
        <ion-icon name="arrow-forward"></ion-icon>
    </button>

</form>
