@font-face {
    font-family: 'icomoon mvp3';
    src:    url('/fonts/icomoon.eot?5xgau7');
    src:    url('/fonts/icomoon.eot?5xgau7#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?5xgau7') format('truetype'),
    url('/fonts/icomoon.woff?5xgau7') format('woff'),
    url('/fonts/icomoon.svg?5xgau7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon mvp3' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/**/
[class^="ion-ios-icon-"], [class*=" ion-ios-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon mvp3' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo .path1:before {
    content: "\e900";
    color: white;
}

.icon-logo .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: #45546a;
}

.icon-logo .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: #f69323;
}

.icon-logo .path4:before {
    content: "\e903";
    margin-left: -1em;
    color: #45546a;
}

.icon-logo .path5:before {
    content: "\e904";
    margin-left: -1em;
    color: #f69323;
}

.icon-logo .path6:before {
    content: "\e905";
    margin-left: -1em;
    color: white;
}

.icon-logo .path7:before {
    content: "\e906";
    margin-left: -1em;
    color: white;
}

.icon-logo .path8:before {
    content: "\e907";
    margin-left: -1em;
    color: white;
}

.icon-logo .path9:before {
    content: "\e908";
    margin-left: -1em;
    color: #8ac642;
}

.icon-angery:before {
    content: "\e909";
}

.icon-sad:before {
    content: "\e90a";
}

.icon-uncertain:before {
    content: "\e90b";
}

.icon-content:before {
    content: "\e90c";
}

.icon-happy:before {
    content: "\e90d";
}

.icon-false .path1:before {
    content: "\e90e";
    color: white;
}

.icon-false .path2:before {
    content: "\e90f";
    /* margin-left: -1em;*/
    color: #ee2524;
}

.icon-false .path3:before {
    content: "\e910";
    margin-left: -1em;
    color: #ee2524;
}

.icon-false .path4:before {
    content: "\e911";
    margin-left: -1em;
    color: #ee2524;
}

.icon-true:before {
    content: "\e912";
    color: #37C430;
}

.icon-camera .path1:before {
    content: "\e913";
    color: #858e99;
}

.icon-camera .path2:before {
    content: "\e914";
    margin-left: -1em;
    color: #858e99;
}

.icon-camera .path3:before {
    content: "\e915";
    margin-left: -1em;
    color: #858e99;
}

.icon-camera .path4:before {
    content: "\e916";
    margin-left: -1em;
    color: white;
}

.icon-voice .path1:before {
    content: "\e917";
    color: #858e99;
}

.icon-voice .path2:before {
    content: "\e918";
    margin-left: -1em;
    color: #f7f8f8;
}

.icon-voice .path3:before {
    content: "\e919";
    margin-left: -1em;
    color: #f7f8f8;
}

.icon-delete .path1:before {
    content: "\e91a";
    color: #ec2227;
}

.icon-delete .path2:before {
    content: "\e91b";
    margin-left: -1em;
    color: #818181;
}

.icon-delete .path3:before {
    content: "\e91c";
    margin-left: -1em;
    color: white;
}

.icon-chat-male:before {
    content: "\e91d";
}

.icon-chat-female:before {
    content: "\e91e";
}

.icon-chat-group:before {
    content: "\e91f";
}

.icon-round-check .path1:before {
    content: "\e920";
    color: white;
}

.icon-round-check .path2:before {
    content: "\e921";
    margin-left: -1em;
    color: #4e4e4e;
    position: absolute;
}

.icon-round-check .path3:before {
    content: "\e922";
    margin-left: -1em;
    color: #4e4e4e;
    position: absolute;
}

.icon-round-uncheck:before {
    content: "\e923";
}

.icon-square-check .path1:before {
    content: "\e924";
    color: #4e4e4e;
}

.icon-square-check .path2:before {
    content: "\e925";
    margin-left: -1em;
    color: #010101;
}

.icon-square-check .path3:before {
    content: "\e926";
    margin-left: -1em;
    color: #010101;
}

.icon-square-uncheck:before {
    content: "\e927";
}

.icon-plus-in-round .path1:before {
    content: "\e928";
    color: white;
}

.icon-plus-in-round .path2:before {
    content: "\e929";
    margin-left: -1em;
    color: #575757;
}

.icon-plus-in-round .path3:before {
    content: "\e92a";
    margin-left: -1em;
    color: #575757;
}

.icon-minus-in-round .path1:before {
    content: "\e92b";
    color: white;
}

.icon-minus-in-round .path2:before {
    content: "\e92c";
    margin-left: -1em;
    color: #575757;
}

.icon-minus-in-round .path3:before {
    content: "\e92d";
    margin-left: -1em;
    color: #575757;
}

.icon-plus-in-round-2:before {
    content: "\e92e";
}

.icon-chat:before {
    content: "\e92f";
}

.icon-notification:before {
    content: "\e930";
}

.icon-call:before {
    content: "\e931";
}

.icon-chat-bbl1:before {
    content: "\e932";
}

.icon-video3:before {
    content: "\e933";
}

.icon-home:before {
    content: "\e934";
}

.icon-vitals:before {
    content: "\e935";
}

.icon-pills:before {
    content: "\e936";
}

.icon-wellness:before {
    content: "\e937";
}

.icon-menu:before {
    content: "\e938";
}

.icon-bulb:before {
    content: "\e939";
}

.icon-chat-bbl2:before {
    content: "\e93a";
}

.icon-down-arw1:before {
    content: "\e93b";
}

.icon-down-arw2:before {
    content: "\e93c";
}

.icon-top-arw1:before {
    content: "\e93d";
}

.icon-left-arw1:before {
    content: "\e93e";
}

.icon-left-arw2:before {
    content: "\e93f";
}

.icon-right-arw1:before {
    content: "\e940";
}

.icon-right-arw2:before {
    content: "\e941";
}

.icon-right-arw3:before {
    content: "\e942";
}

.icon-down-triangle:before {
    content: "\e943";
}

.icon-up-triangle:before {
    content: "\e943";
}

.icon-up-triangle {
    transform: rotate(180deg);
    transform-origin: center;
}

.icon-zoom-inn:before {
    content: "\e944";
}

.icon-zoom-out:before {
    content: "\e945";
}

.icon-blood-pressure:before {
    content: "\e946";
}

.icon-drink-water:before {
    content: "\e947";
}

.icon-eat-healthy:before {
    content: "\e948";
}

.icon-granules .path1:before {
    content: "\e949";
    color: white;
}

.icon-granules .path2:before {
    content: "\e94a";
    margin-left: -1em;
    color: #231f20;
}

.icon-granules .path3:before {
    content: "\e94b";
    margin-left: -1em;
    color: white;
}

.icon-granules .path4:before {
    content: "\e94c";
    margin-left: -1em;
    color: #231f20;
}

.icon-granules .path5:before {
    content: "\e94d";
    margin-left: -1em;
    color: white;
}

.icon-granules .path6:before {
    content: "\e94e";
    margin-left: -1em;
    color: #231f20;
}

.icon-granules .path7:before {
    content: "\e94f";
    margin-left: -1em;
    color: white;
}

.icon-granules .path8:before {
    content: "\e950";
    margin-left: -1em;
    color: #231f20;
}

.icon-granules .path9:before {
    content: "\e951";
    margin-left: -1em;
    color: white;
}

.icon-granules .path10:before {
    content: "\e952";
    margin-left: -1em;
    color: #231f20;
}

.icon-granules .path11:before {
    content: "\e953";
    margin-left: -1em;
    color: white;
}

.icon-granules .path12:before {
    content: "\e954";
    margin-left: -1em;
    color: #231f20;
}

.icon-granules .path13:before {
    content: "\e955";
    margin-left: -1em;
    color: white;
}

.icon-granules .path14:before {
    content: "\e956";
    margin-left: -1em;
    color: #231f20;
}

.icon-granules .path15:before {
    content: "\e957";
    margin-left: -1em;
    color: white;
}

.icon-granules .path16:before {
    content: "\e958";
    margin-left: -1em;
    color: #231f20;
}

.icon-granules .path17:before {
    content: "\e959";
    margin-left: -1em;
    color: white;
}

.icon-granules .path18:before {
    content: "\e95a";
    margin-left: -1em;
    color: #231f20;
}

.icon-granules .path19:before {
    content: "\e95b";
    margin-left: -1em;
    color: white;
}

.icon-granules .path20:before {
    content: "\e95c";
    margin-left: -1em;
    color: #231f20;
}

.icon-granules .path21:before {
    content: "\e95d";
    margin-left: -1em;
    color: white;
}

.icon-granules .path22:before {
    content: "\e95e";
    margin-left: -1em;
    color: #231f20;
}

.icon-graph .path1:before {
    content: "\e95f";
    color: white;
}

.icon-graph .path2:before {
    content: "\e960";
    margin-left: -1em;
    color: white;
}

.icon-graph .path3:before {
    content: "\e961";
    margin-left: -1em;
    color: white;
}

.icon-graph .path4:before {
    content: "\e962";
    margin-left: -1em;
    color: #477ec1;
}

.icon-graph .path5:before {
    content: "\e963";
    margin-left: -1em;
    color: #477ec1;
}

.icon-graph .path6:before {
    content: "\e964";
    margin-left: -1em;
    color: #477ec1;
}

.icon-graph .path7:before {
    content: "\e965";
    margin-left: -1em;
    color: #477ec1;
}

.icon-graph .path8:before {
    content: "\e966";
    margin-left: -1em;
    color: white;
}

.icon-graph .path9:before {
    content: "\e967";
    margin-left: -1em;
    color: white;
}

.icon-graph .path10:before {
    content: "\e968";
    margin-left: -1em;
    color: white;
}

.icon-graph .path11:before {
    content: "\e969";
    margin-left: -1em;
    color: white;
}

.icon-group:before {
    content: "\e96a";
}

.icon-info:before {
    content: "\e96b";
}

.icon-inhaler .path1:before {
    content: "\e96c";
    color: white;
}

.icon-inhaler .path2:before {
    content: "\e96d";
    margin-left: -1em;
    color: #231f20;
}

.icon-inhaler .path3:before {
    content: "\e96e";
    margin-left: -1em;
    color: #eaeaea;
}

.icon-injection .path1:before {
    content: "\e96f";
    color: white;
}

.icon-injection .path2:before {
    content: "\e970";
    margin-left: -1em;
    color: #231f20;
}

.icon-injection .path3:before {
    content: "\e971";
    margin-left: -1em;
    color: #eaeaea;
}

.icon-injection .path4:before {
    content: "\e972";
    margin-left: -1em;
    color: #231f20;
}

.icon-injection .path5:before {
    content: "\e973";
    margin-left: -1em;
    color: #231f20;
}

.icon-move-more:before {
    content: "\e974";
}

.icon-oxigen-saturation:before {
    content: "\e975";
}

.icon-puls:before {
    content: "\e976";
}

.icon-purchase:before {
    content: "\e977";
}

.icon-search:before {
    content: "\e978";
}

.icon-search-person:before {
    content: "\e979";
}

.icon-send:before {
    content: "\e97a";
}

.icon-settings:before {
    content: "\e97b";
}

.icon-track-digestion:before {
    content: "\e97c";
}

.icon-track-mood:before {
    content: "\e97d";
}

.icon-track-pain:before {
    content: "\e97e";
}

.icon-up-arw1:before {
    content: "\e97f";
}

.icon-video1:before {
    content: "\e980";
}

.icon-video2:before {
    content: "\e981";
}

.icon-weight:before {
    content: "\e982";
}

.icon-pill5 .path1:before {
    content: "\e983";
}

.icon-pill5 .path2:before {
    content: "\e984";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill5 .path3:before {
    content: "\e985";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill3 .path1:before {
    content: "\e986";
}

.icon-pill3 .path2:before {
    content: "\e987";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill3 .path3:before {
    content: "\e988";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill4 .path1:before {
    content: "\e989";
}

.icon-pill4 .path2:before {
    content: "\e98a";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill4 .path3:before {
    content: "\e98b";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill1 .path1:before {
    content: "\e98c";
}

.icon-pill1 .path2:before {
    content: "\e98d";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill1 .path3:before {
    content: "\e98e";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill .path1:before {
    content: "\e98f";
}

.icon-pill .path2:before {
    content: "\e990";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill .path3:before {
    content: "\e991";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill2 .path1:before {
    content: "\e992";
}

.icon-pill2 .path2:before {
    content: "\e993";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill2 .path3:before {
    content: "\e994";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-patch .path1:before {
    content: "\e995";
    color: white;
}

.icon-patch .path2:before {
    content: "\e996";
    margin-left: -1em;
    color: #231f20;
    position: absolute;
}

.icon-patch .path3:before {
    content: "\e997";
    margin-left: -1em;
    color: #eaeaea;
    position: absolute;
}

.icon-patch .path4:before {
    content: "\e998";
    margin-left: -1em;
    color: white;
    position: absolute;
}

.icon-patch .path5:before {
    content: "\e999";
    margin-left: -1em;
    color: #231f20;
    position: absolute;
}

.icon-patch .path6:before {
    content: "\e99a";
    margin-left: -1em;
    color: white;
    position: absolute;
}

.icon-patch .path7:before {
    content: "\e99b";
    margin-left: -1em;
    position: absolute;
    color: #231f20;
}

.icon-patch .path8:before {
    content: "\e99c";
    margin-left: -1em;
    color: white;
    position: absolute;
}

.icon-patch .path9:before {
    content: "\e99d";
    margin-left: -1em;
    position: absolute;
    color: #231f20;
}

.icon-patch .path10:before {
    content: "\e99e";
    margin-left: -1em;
    color: white;
    position: absolute;
}

.icon-patch .path11:before {
    content: "\e99f";
    margin-left: -1em;
    color: #231f20;
    position: absolute;
}

.icon-patch .path12:before {
    content: "\e9a0";
    margin-left: -1em;
    color: white;
    position: absolute;
}

.icon-patch .path13:before {
    content: "\e9a1";
    margin-left: -1em;
    color: #231f20;
    position: absolute;
}

.icon-patch .path14:before {
    content: "\e9a2";
    margin-left: -1em;
    position: absolute;
    color: white;
}

.icon-patch .path15:before {
    content: "\e9a3";
    margin-left: -1em;
    color: #231f20;
    position: absolute;
}

.icon-patch .path16:before {
    content: "\e9a4";
    margin-left: -1em;
    color: white;
    position: absolute;
}

.icon-patch .path17:before {
    content: "\e9a5";
    margin-left: -1em;
    color: #231f20;
    position: absolute;
}

.icon-patch .path18:before {
    content: "\e9a6";
    margin-left: -1em;
    color: white;
    position: absolute;
}

.icon-patch .path19:before {
    content: "\e9a7";
    margin-left: -1em;
    color: #231f20;
    position: absolute;
}

.icon-pill6 .path1:before {
    content: "\e9a8";
}

.icon-pill6 .path2:before {
    content: "\e9a9";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill6 .path3:before {
    content: "\e9aa";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-powder .path1:before {
    content: "\e9ab";
    color: white;
}

.icon-powder .path2:before {
    content: "\e9ac";
    margin-left: -1em;
    color: #231f20;
}

.icon-foam .path1:before {
    content: "\e9ad";
    color: white;
}

.icon-foam .path2:before {
    content: "\e9ae";
    margin-left: -1em;
    color: #231f20;
}

.icon-foam .path3:before {
    content: "\e9af";
    margin-left: -1em;
    color: #eaeaea;
}

.icon-pill8 .path1:before {
    content: "\e9b0";
}

.icon-pill8 .path2:before {
    content: "\e9b1";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill8 .path3:before {
    content: "\e9b2";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill7 .path1:before {
    content: "\e9b3";
}

.icon-pill7 .path2:before {
    content: "\e9b4";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill7 .path3:before {
    content: "\e9b5";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill7 .path4:before {
    content: "\e9b6";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill9 .path1:before {
    content: "\e9b7";
}

.icon-pill9 .path2:before {
    content: "\e9b8";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill9 .path3:before {
    content: "\e9b9";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill9 .path4:before {
    content: "\e9ba";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill9 .path5:before {
    content: "\e9bb";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill15 .path1:before {
    content: "\e9bc";
}

.icon-pill15 .path2:before {
    content: "\e9bd";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill15 .path3:before {
    content: "\e9be";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill14 .path1:before {
    content: "\e9bf";
}

.icon-pill14 .path2:before {
    content: "\e9c0";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill14 .path3:before {
    content: "\e9c1";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill10 .path1:before {
    content: "\e9c2";
}

.icon-pill10 .path2:before {
    content: "\e9c3";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill10 .path3:before {
    content: "\e9c4";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill13 .path1:before {
    content: "\e9c5";
}

.icon-pill13 .path2:before {
    content: "\e9c6";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill13 .path3:before {
    content: "\e9c7";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill11 .path1:before {
    content: "\e9c8";
}

.icon-pill11 .path2:before {
    content: "\e9c9";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill11 .path3:before {
    content: "\e9ca";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-pill12 .path1:before {
    content: "\e9cb";
}

.icon-pill12 .path2:before {
    content: "\e9cc";
    margin-left: -1em;
    color: #231f20;
}

.icon-pill12 .path3:before {
    content: "\e9cd";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.2);
}

.icon-enema .path1:before {
    content: "\e9ce";
    color: white;
}

.icon-enema .path2:before {
    content: "\e9cf";
    margin-left: -1em;
    color: #231f20;
}

.icon-enema .path3:before {
    content: "\e9d0";
    margin-left: -1em;
    color: #eaeaea;
}

.icon-enema .path4:before {
    content: "\e9d1";
    margin-left: -1em;
    color: #231f20;
}

.icon-spray .path1:before {
    content: "\e9d2";
    color: white;
}

.icon-spray .path2:before {
    content: "\e9d3";
    margin-left: -1em;
    color: #231f20;
}

.icon-spray .path3:before {
    content: "\e9d4";
    margin-left: -1em;
    color: #eaeaea;
}

.icon-spray .path4:before {
    content: "\e9d5";
    margin-left: -1em;
    color: #eaeaea;
}

.icon-spray .path5:before {
    content: "\e9d6";
    margin-left: -1em;
    color: #231f20;
}

.icon-spray .path6:before {
    content: "\e9d7";
    margin-left: -1em;
    color: #231f20;
}

.icon-spray .path7:before {
    content: "\e9d8";
    margin-left: -1em;
    color: #231f20;
}

.icon-spray .path8:before {
    content: "\e9d9";
    margin-left: -1em;
    color: #231f20;
}

.icon-spray .path9:before {
    content: "\e9da";
    margin-left: -1em;
    color: #231f20;
}

.icon-spray .path10:before {
    content: "\e9db";
    margin-left: -1em;
    color: #231f20;
}

.icon-spray .path11:before {
    content: "\e9dc";
    margin-left: -1em;
    color: #231f20;
}

.icon-spray .path12:before {
    content: "\e9dd";
    margin-left: -1em;
    color: #231f20;
}

.icon-spray .path13:before {
    content: "\e9de";
    margin-left: -1em;
    color: #231f20;
}

.icon-spray .path14:before {
    content: "\e9df";
    margin-left: -1em;
    color: #231f20;
}

.icon-swab .path1:before {
    content: "\e9e0";
    color: white;
}

.icon-swab .path2:before {
    content: "\e9e1";
    margin-left: -1em;
    color: #231f20;
}

.icon-swab .path3:before {
    content: "\e9e2";
    margin-left: -1em;
    color: #eaeaea;
}

.icon-swab .path4:before {
    content: "\e9e3";
    margin-left: -1em;
    color: #231f20;
}

.icon-swab .path5:before {
    content: "\e9e4";
    margin-left: -1em;
    color: #231f20;
}

.icon-stick .path1:before {
    content: "\e9e5";
    color: white;
}

.icon-stick .path2:before {
    content: "\e9e6";
    margin-left: -1em;
    color: #231f20;
}

.icon-stick .path3:before {
    content: "\e9e7";
    margin-left: -1em;
    color: #eaeaea;
}

.icon-stick .path4:before {
    content: "\e9e8";
    margin-left: -1em;
    color: #eaeaea;
}

.icon-stick .path5:before {
    content: "\e9e9";
    margin-left: -1em;
    color: #231f20;
}

.icon-syrup-liquid .path1:before {
    content: "\e9ea";
    color: white;
}

.icon-syrup-liquid .path2:before {
    content: "\e9eb";
    margin-left: -1em;
    color: #231f20;
}

.icon-syrup-liquid .path3:before {
    content: "\e9ec";
    margin-left: -1em;
    color: #eaeaea;
}

.icon-syrup-liquid .path4:before {
    content: "\e9ed";
    margin-left: -1em;
    color: #231f20;
}

.icon-cream-gel-paste .path1:before {
    content: "\e9ee";
    color: white;
}

.icon-cream-gel-paste .path2:before {
    content: "\e9ef";
    margin-left: -1em;
    color: #231f20;
}

.icon-cream-gel-paste .path3:before {
    content: "\e9f0";
    margin-left: -1em;
    color: #eaeaea;
}

.icon-cream-gel-paste .path4:before {
    content: "\e9f1";
    margin-left: -1em;
    color: #231f20;
}

.icon-cream-gel .path1:before {
    content: "\e9f2";
    color: white;
}

.icon-cream-gel .path2:before {
    content: "\e9f3";
    margin-left: -1em;
    color: #231f20;
}

.icon-cream-gel .path3:before {
    content: "\e9f4";
    margin-left: -1em;
    color: #eaeaea;
}

.icon-cream-gel .path4:before {
    content: "\e9f5";
    margin-left: -1em;
    color: #231f20;
}

.icon-sleep-regularly:before {
    content: "\e9f6";
}

.icon-rightTail .path1:before {
    content: "\e9f7";
}

.icon-rightTail .path2:before {
    content: "\e9f8";
    margin-left: -1em;
    /*color: rgb(255, 255, 255);*/;
}

.icon-leftTail .path1:before {
    content: "\e9f9";
}

.icon-leftTail .path2:before {
    content: "\e9fa";
    margin-left: -1em;
    /*color: rgb(255, 255, 255);*/;
}

.ion-ios-icon-home:before {
    content: "\e934";
}

.ion-ios-icon-home-outline:before {
    content: "\e934";
}

.ion-ios-icon-vitals:before {
    content: "\e935";
}

.ion-ios-icon-vitals-outline:before {
    content: "\e935";
}

.ion-ios-icon-pills:before {
    content: "\e936";
}

.ion-ios-icon-pills-outline:before {
    content: "\e936";
}

.ion-ios-icon-wellness:before {
    content: "\e937";
}

.ion-ios-icon-wellness-outline:before {
    content: "\e937";
}

.ion-ios-icon-menu:before {
    content: "\e938";
}

.ion-ios-icon-menu-outline:before {
    content: "\e938";
}

/**/
.icon-settings {
    font-size: 5vw;
    margin-right: 2vw;
}

.icon-graph {
    margin-right: 2vw;
    font-size: 7vw;
}

.icon-angery {
    color: #FE0F0F;
}

.icon-sad {
    color: #FE9A36;
}

.icon-uncertain {
    color: #FEBA22;
}

.icon-content {
    color: #8FD00E;
}

.icon-happy {
    color: #30C228;
}
