<ion-card class="card-style" style="padding-left: 0; padding-right:0; margin-top: 25px">
    <ion-card-content text-center style="min-height: 500px; padding-left: 0; padding-right:0">
        <p style="font-size: 20px">People You Support</p>


        <div class="admin-tab">
            <p class="alert-success" *ngIf="successfulChange">
                Changed Billing Successful to {{ successName }}'s account to card ending in {{ cardChanged }}
            </p>
            <br>

            <div style="margin: 0 auto">
                <div style="height:40px; margin-left: 10px">
                    <span>Search: </span>
                    <input #myInput type="text" pInputText [(ngModel)]="search" (input)="filterItem(myInput.value)"/>
                </div>
            </div>

            <ion-list class="admin-customer-list" style="margin: 0 auto">
                <ion-item *ngFor="let user of filteredSupportUsersList">
                    <div class="select-this-text">
                        <div class="admin-name">{{user.first_name}} {{user.last_name}}</div>
                        <div class="admin-details">{{ user.email }}</div>
                        <div class="admin-details">{{ user.mobile | phone }}</div>
                    </div>
                    <span *ngIf="user.account_type" class="label" [ngClass]="{'label-success': user.account_type.id === 1,'label-danger': (user.account_type.id === 4 || user.account_type.id === 9)}">{{(user.account_type.id === 1) ? 'Subscribed' : 'Non-Paying'}}</span>
                    <div>
                        <div item-right *ngIf="user.canChangeBilling">
                            <button ion-button small outline color="secondary" (click)="changeBilling(user)">Change Billing</button>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
            <div>
                <ion-row>
                    <ion-col>
                        <button ion-button class="button-length" type="button" color="secondary" routerLink="/other-form-signup">
                            Subscribe a new Person
                        </button>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </ion-card-content>
</ion-card>
<!--<p-dialog-->
    <!--header="Change Billing For User"-->
    <!--[(visible)]="display"-->
    <!--[modal]=true-->
    <!--[closable]=true-->
    <!--[resizable]=false-->
    <!--[width]=320-->
    <!--[height]=500>-->
    <!--<h4 class="changeBillingText">First Name</h4>-->
    <!--<input type="text" name="firstName" pInputText [(ngModel)]="firstName"/>-->
    <!--<h4 class="changeBillingText">Last Name</h4>-->
    <!--<input type="text" name="lastName" pInputText [(ngModel)]="lastName"/>-->
    <!--<h4 class="changeBillingText">Address</h4>-->
    <!--<input type="text" name="address1" pInputText [(ngModel)]="address1"/>-->
    <!--<div style="width: 100%; padding-top: 15px">-->
        <!--<span style="width: 20%; margin-right:10%">-->
                  <!--Apt / Suite-->
        <!--</span>-->
        <!--<span style="width: 60%">-->
                  <!--City-->
        <!--</span>-->
    <!--</div>-->
    <!--<div style="width: 100%; padding-top: 5px">-->
        <!--<span style="width: 30%">-->
            <!--<input style="width: 20%"type="text" name="address2" pInputText [(ngModel)]="address2"/>-->
        <!--</span>-->
        <!--<span style="margin-left: 30px">-->
            <!--<input  style="width: 50%" type="text" name="city" pInputText [(ngModel)]="city"/>-->
        <!--</span>-->
    <!--</div>-->

    <!--<div style="width: 100%; padding-top: 15px">-->
        <!--<span style="width: 40%; margin-right:31%">-->
                  <!--State-->
        <!--</span>-->
        <!--<span style="width: 35%">-->
                  <!--Zip Code-->
        <!--</span>-->
    <!--</div>-->
    <!--<div style="width: 100%; padding-top: 5px">-->
        <!--<span style="width: 30%">-->

            <!--<select style="width: 90px" [(ngModel)]="stateSelected">-->
                <!--<option *ngFor="let state of statesArray" [value]="state.abbreviation">{{state.name}}</option>-->
            <!--</select>-->
        <!--</span>-->
        <!--<span style="margin-left: 30px">-->
            <!--<input style="width: 30%" type="text" name="zipCode" pInputText [(ngModel)]="zipCode"/>-->
        <!--</span>-->
    <!--</div>-->
    <!--<button ion-button class="button-length spacer-top-2"-->
            <!--type="button" (click)="sendSMS()">-->
        <!--Change Billing-->
    <!--</button>-->
<!--</p-dialog>-->
