<form (ngSubmit)="submitThis()" [formGroup]="loginForm">
    <ion-list>
        <ion-item>
            <ion-label floating>Email Address</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
    </ion-list>
    <p class="alert-danger" [ngClass]="{'hide_class': !authObject.get('error')}">
        {{(authObject.get('error') && authObject.getIn(['error', 'message'])) ? authObject.getIn(['error', 'message']): ''}}
    </p>
    <button ion-button large class="button-length spacer-top-2" [disabled]="!loginForm.valid ||
    (authObject.get('status') === 'submitted' && (authObject.get('error') && authObject.getIn(['error', 'message']) !== 'We could not connect to the admin server.  Please try again later.'))">
        Sign In&nbsp;
        <ion-icon name="arrow-forward"></ion-icon>
    </button>

</form>
