<ion-card class="login-form-container card-style">
    <ion-card-header text-center>
        <h1 class="color-dark">Authenticate</h1>
    </ion-card-header>
    <ion-card-content text-center>
        <div>
            <p>You should receive a text message. Please Enter the authorization code.</p>
            <two-factor-form (submitAuthCode)="submitAuthCode($event)"></two-factor-form>

            <button ion-button clear routerLink="/login" color="secondary"
                    class="button-length spacer-top-2">
                <ion-icon name="arrow-back"></ion-icon>
                &nbsp;Go Back
            </button>
        </div>

    </ion-card-content>
</ion-card>
