<div style="margin: 15px" class="shipping-tab">
    <ion-row>
        <ion-col center>
            <div class="tab-title">Shipping Address</div>
        </ion-col>
    </ion-row>
    <ship-address [shipAddress]="shipAddress | async"></ship-address>
    <ion-row>
        <ion-col center>
            <button ion-button class="button-length" color="secondary" routerLink="/shipping" >
                Change Shipping
            </button>
        </ion-col>
    </ion-row>
</div>
