<div style="margin: 15px" class="plan-tab" *ngIf="userStatus === 'Household'">
    <ion-row>
        <ion-col center>
            <div class="plan-label color-secondary">nestCARE Plan</div>
            <div class="plan-value">Household Plan</div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col center>
            <p>You are currently in Good Standing on someone else's Household plan</p>
        </ion-col>
    </ion-row>
</div>

<div style="margin: 15px" class="plan-tab" *ngIf="userStatus === 'Trial'">
    <ion-row>
        <ion-col center>
            <p>You are currently not enrolled in a plan.</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col center>
            <button ion-button class="button-length" color="secondary" (click)="enrollPlan()" *ngIf="!planName">
                Enroll in a Plan
            </button>
        </ion-col>
    </ion-row>
</div>

<div style="margin: 15px" class="plan-tab" *ngIf="plan && userStatus !== 'Trial'">

    <ion-row *ngIf="planName">
        <ion-col center>
            <div class="plan-label color-secondary">nestCARE Plan</div>
            <div class="plan-value">{{ planName}} {{ planAmt | currency:'USD': 2}}</div>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="planName">
        <ion-col center>
            <div class="plan-label color-secondary">Last Payment Date</div>
            <div class="plan-value">{{ lastPmt | date: 'mediumDate'}}</div>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="planName">
        <ion-col center>
            <div class="plan-label color-secondary">Next Payment Date</div>
            <div class="plan-value">{{ nextPmt | date: 'mediumDate'}}</div>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="!planName && userStatus !== 'Trial'">
        <ion-col center>
            <p>You are currently not enrolled in a plan.</p>
        </ion-col>
    </ion-row>
    <!--<ion-row>-->
        <!--<ion-col center>-->
            <!--<button ion-button class="button-length" color="secondary" (click)="enrollPlan()" *ngIf="planName">-->
                <!--Change Plan-->
            <!--</button>-->
            <!--<button ion-button class="button-length" color="secondary" (click)="enrollPlan()" *ngIf="!planName">-->
                <!--Enroll in a Plan-->
            <!--</button>-->
        <!--</ion-col>-->
    <!--</ion-row>-->
</div>
